﻿@using BBH.Lotte.CMSAdmin.Models;
<div class="navbar navbar-default" role="navigation">
    <div class="navbar-inner">
        <button type="button" class="navbar-toggle pull-left animated flip">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <div class="btn-group pull-right">
            <button class="btn btn-default dropdown-toggle" onclick="ToggleSubMenu()" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs"> @Session[SessionKey.SESSION_USERNAME]</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @*<li><a href="">Profile</a></li>*@
                @*<li class="divider"></li>*@
                <li><a href="javascript:void(0)" data-toggle="modal" data-target="#changepass">ChangePassword</a></li>
                <li><a href="javascript:void(0)" onclick="ExistsMember()">Logout</a></li>
            </ul>
        </div>

        <ul class="collapse navbar-collapse nav navbar-nav top-menu">

            <li>
                <div>
                    <h4><a class="ajax-link" href="/" style="color:#fff;font:bold;text-decoration: none;"><i class="glyphicon glyphicon-home" style="margin-right:10px"></i>LOTTERY ADMIN CMS</a></h4>
                </div>

            </li>
        </ul>
    </div>
</div>
<input type="hidden" id="hdMemberID" value="@Session["GroupIDAdmin"]" />
<div class="modal fade" id="changepass" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:#fff" onclick="Close()">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">ChangePassword </p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>
                    <div class="row">
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">New Password: </div>
                        <!--First column-->
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="md-form">
                                <input type="password" onfocus="ResetForm('lbErrorPass', this.value)" id="txtNewPass" name="txtNewPass" placeholder="*************" class="form-control validate">

                            </div>
                            <label id="lbErrorPass" style="color:red; display:none" class=""></label>
                        </div>
                    </div>

                    <div class="row">
                        <!--First column-->
                        <div class="col-md-8" style="padding: 0 0 5px 18px;color: blue;">RePassword </div>
                        <div class="col-md-12" style="margin-top: 10px;">
                            <div class="md-form">
                                <input type="password" onfocus="ResetForm('lbErrorRepass', this.value)" id="txtRepass" name="txtRepass" placeholder="*************" class="form-control validate">

                            </div>
                            <label id="lbErrorRepass" style="color:red; display:none" class=""></label>
                        </div>
                    </div>

                </form>
                <br>
            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" onclick="ChangePassword()" contenteditable="false">Update</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

<script src="/Scripts/login/login.js"></script>
<script type="text/javascript" src="/Scripts/admin/admin.js"></script>