﻿<div class="col-md-3 col-sm-3 col-xs-6">
    <a data-toggle="tooltip" href="/transactioncoin" title="@ViewBag.TotalNewCoin new transaction coin." class="well top-block" href="#">
        <i class="glyphicon glyphicon-usd green"></i>
        <div>Total Transaction Coin</div>
        <div>@string.Format("{0:0,0}", ViewBag.TotalAllCoin)</div>
        <span class="notification yellow">@ViewBag.TotalNewCoin</span>
    </a>
</div> 