﻿
@{
    ViewBag.Title = "PastResult";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href="/Content/css/devstyle.css" rel="stylesheet" />
<link href="~/Content/css/desktop.css" rel="stylesheet" />
<h2>PastResult</h2>
<main class="content js-content mainPastResult">
    <div class="box-wrap">
        <div class="js-wrapper-fix">
            <div class="box-profile-cont checker">
                <div class="main" style="margin-bottom: 87px;">

                    <h1>Past Free Lottery Results</h1>

                    <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/" title="RippleLot Home" itemprop="item">
                                <span itemprop="name">RippleLot</span>
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                            <a href="/Award" title="Latest Free Lottery Results" itemprop="item">
                                <span itemprop="name">Results</span>
                            </a>
                        </li>
                        <li>Past Results</li>
                    </ol>

                    <p>Here are the Free Lottery results from the past 30 days.</p>
                    @*<p>Think you have what it takes to win big prizes for free? Visit the <a href="/lottery-tickets#freelottery" title="Free Lottery Tickets">Tickets page</a> for your chance to win up to £1 million. </p>*@

                    <table class="table free" style="width: 100%;">
                        <tbody>
                            <tr>
                                <th style="white-space: nowrap;">#</th>
                                <th style="white-space: nowrap;">Draw Date</th>
                                <th>Draw Type</th>
                                <th>Results</th>
                                @*<th>Jackpot</th>*@
                            </tr>
                            @Html.Raw(Model[0])
                        </tbody>
                    </table><br>

                    <span class="button-greyed floatLeft margined">Last Six Months</span>
                    <br class="clear mobClear">
                    <a href="#" title="View the 2018 free lottery results archive" class="button-blue skinny floatLeft margined">2018</a>
                    <a href="#" title="View the 2017 free lottery results archive" class="button-blue skinny floatLeft margined">2017</a>
                    <br class="clear"><br>

                    <p>Entrants must match all 6 numbers on the daily and weekly draws to win any prize, and claims for prizes must be made within 2 working days of the winning draw. See our <a href="#" title-"terms="" and="" conditions"="">terms and conditions</a> page for more rules about the RippleLot.</p>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade show" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; align-items: center">
        <div class="modal-dialog modal-lg">
            <div class="modal-content max-with" style="overflow: hidden;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Draw results <span></span></h4>
                </div>
                <div class="modal-body" style="overflow-y: auto; text-align:center;s">
                    <div class="paddedLight">

                    </div>
                </div>
                <div class="modal-footer timeline__hash">
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <div id="over" style="display: none; background: #000; position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.8; z-index: 50;"></div>
</main>
<script>
    $(".timeline-link").on("click", function () {
        var rippleHash = $(this).attr("data-drawhash");
        var Date = $(this).attr("data-drawdate");
        var param = {};
        param.strBlockHash = rippleHash;
        $.ajax({
            type: "post",
            async: true,
            url: "/Checker/GenHtmlResultCheckHash",
            data: param,
            beforeSend: function () {
                showLoading();
            },
            success: function (data) {
                hideLoading();
                $(".paddedLight").html(data);
                $(".timeline__hash").html("Hash: " + rippleHash);
                $("#myModalLabel span").html(Date);
                $("#myModal").css('display', 'inline-flex');
                $("#over").show();
            },
            error: function (msg) {
                alertify.error('Error. Contact with administrator, Please!');
            }
        })
    });
    $(".close").on("click", function () {
        $("#over").hide();
        $("#myModal").hide();
    });
</script>
