﻿@{
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
}

<div class="heading-sub-section pb-30">
    <h4 class="head-title">@ViewBag.TitlePage</h4>
</div>
<div class="main-content">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="box-ticket item-first" id="box-ticket">
                <div class="box-ticket__body">
                    <p class="text-cen-up">Select 5 numbers</p>
                    <ul class="num-list first-49" data-max="5" id="ulnum49">
                        <li class="num-list__item">1</li>
                        <li class="num-list__item">2</li>
                        <li class="num-list__item">3</li>
                        <li class="num-list__item">4</li>
                        <li class="num-list__item">5</li>
                        <li class="num-list__item">6</li>
                        <li class="num-list__item">7</li>
                        <li class="num-list__item">8</li>
                        <li class="num-list__item">9</li>
                        <li class="num-list__item">10</li>
                        <li class="num-list__item">11</li>
                        <li class="num-list__item">12</li>
                        <li class="num-list__item">13</li>
                        <li class="num-list__item">14</li>
                        <li class="num-list__item">15</li>
                        <li class="num-list__item">16</li>
                        <li class="num-list__item">17</li>
                        <li class="num-list__item">18</li>
                        <li class="num-list__item">19</li>
                        <li class="num-list__item">20</li>
                        <li class="num-list__item">21</li>
                        <li class="num-list__item">22</li>
                        <li class="num-list__item">23</li>
                        <li class="num-list__item">24</li>
                        <li class="num-list__item">25</li>
                        <li class="num-list__item">26</li>
                        <li class="num-list__item">27</li>
                        <li class="num-list__item">28</li>
                        <li class="num-list__item">29</li>
                        <li class="num-list__item">30</li>
                        <li class="num-list__item">31</li>
                        <li class="num-list__item">32</li>
                        <li class="num-list__item">33</li>
                        <li class="num-list__item">34</li>
                        <li class="num-list__item">35</li>
                        <li class="num-list__item">36</li>
                        <li class="num-list__item">37</li>
                        <li class="num-list__item">38</li>
                        <li class="num-list__item">39</li>
                        @*<li class="num-list__item">40</li>
                        <li class="num-list__item">41</li>
                        <li class="num-list__item">42</li>
                        <li class="num-list__item">43</li>
                        <li class="num-list__item">44</li>
                        <li class="num-list__item">45</li>
                        <li class="num-list__item">46</li>
                        <li class="num-list__item">47</li>
                        <li class="num-list__item">48</li>
                        <li class="num-list__item">49</li>*@

                    </ul>
                    <p class="text-cen-up">And one more</p>
                    <ul class="num-list num-list_yellow" id="ulExtra_1" data-max="1">
                        <li class="num-list__item">1</li>
                        <li class="num-list__item">2</li>
                        <li class="num-list__item">3</li>
                        <li class="num-list__item">4</li>
                        <li class="num-list__item">5</li>
                        <li class="num-list__item">6</li>
                        <li class="num-list__item">7</li>
                        <li class="num-list__item">8</li>
                        <li class="num-list__item">9</li>
                        <li class="num-list__item">10</li>
                        <li class="num-list__item">11</li>
                        <li class="num-list__item">12</li>
                        <li class="num-list__item">13</li>
                        <li class="num-list__item">14</li>
                        <li class="num-list__item">15</li>
                        <li class="num-list__item">16</li>
                        <li class="num-list__item">17</li>
                        <li class="num-list__item">18</li>
                        @*<li class="num-list__item">19</li>
                        <li class="num-list__item">20</li>*@
                        @*<li class="num-list__item">21</li>
                        <li class="num-list__item">22</li>
                        <li class="num-list__item">23</li>
                        <li class="num-list__item">24</li>
                        <li class="num-list__item">25</li>
                        <li class="num-list__item">26</li>*@
                    </ul>
                </div>
                <div class="box-ticket__footer">
                    <a onclick="clearTicket();" class="btn btn-info btn-sm ticket-header__btn-clear js-ticket-clear">Reset number</a>
                    <a onclick="CheckNumber();" class="btn btn-warning btn-sm">Check number</a>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12">
            <div class="overflow-x-auto mt-md-30">
                <table class="table-checkresult" id="tbList">
                    <thead>
                        <tr>
                            <th>Result Day</th>
                            <th class="text-center">Balls Drawn</th>
                            <th class="text-center">You Matched</th>
                        </tr>
                    </thead>
                    <tbody id="tbListAwardNumber">
                        <tr><td colspan="3">No data</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/checker/ticket-checker.js"></script>