@font-face {
    font-family: 'DIN Alternate';
    src: url('DINAlternate-Bold.eot');
    src: url('DINAlternate-Bold.eot?#iefix') format('embedded-opentype'),
        url('DINAlternate-Bold.woff2') format('woff2'),
        url('DINAlternate-Bold.woff') format('woff'),
        url('DINAlternate-Bold.ttf') format('truetype'),
        url('DINAlternate-Bold.svg#DINAlternate-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Semibold.eot');
    src: url('OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-Semibold.woff2') format('woff2'),
        url('OpenSans-Semibold.woff') format('woff'),
        url('OpenSans-Semibold.ttf') format('truetype'),
        url('OpenSans-Semibold.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Tinos';
    src: url('Tinos-Regular.eot');
    src: url('Tinos-Regular.eot?#iefix') format('embedded-opentype'),
        url('Tinos-Regular.woff2') format('woff2'),
        url('Tinos-Regular.woff') format('woff'),
        url('Tinos-Regular.ttf') format('truetype'),
        url('Tinos-Regular.svg#Tinos-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('OpenSans-Light.eot');
    src: url('OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('OpenSans-Light.woff2') format('woff2'),
        url('OpenSans-Light.woff') format('woff'),
        url('OpenSans-Light.ttf') format('truetype'),
        url('OpenSans-Light.svg#OpenSans-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN';
    src: url('DIN-Light.eot');
    src: url('DIN-Light.eot?#iefix') format('embedded-opentype'),
        url('DIN-Light.woff2') format('woff2'),
        url('DIN-Light.woff') format('woff'),
        url('DIN-Light.ttf') format('truetype'),
        url('DIN-Light.svg#DIN-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}


