/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#to_top_scrollup {
    background-color: #000;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 5%;
    box-sizing: content-box;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    display: none;
    font-size: 32px;
    font-weight: normal;
    height: 32px;
    opacity: 0.5;
    padding: 5px;
    position: fixed;
    right: 20px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    width: 32px;
    z-index: 9999;
}

#to_top_scrollup img {
    width: 100%;
}

/* Accessibility - Text meant only for screen readers */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
    /* many screen reader and browser combinations announce broken words as they would appear visually */
    word-wrap: normal !important;
}
