﻿
@{
    ViewBag.Title = "TransactionCarcoinWallet";
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
    ViewBag.TitlePage = "My transaction Carcoin Wallet";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

@*<div class="heading-sub-section">*@
    @*<h4 class="head-title">My transaction Carcoin Wallet</h4>*@
    @*<div class="play_section__tabs">
            <ul class="nav nav-tabs" role="tablist" id="betTabs">
                <li role="presentation" class="active">
                    <a href="/bitcoin-wallets-history" data-id="bitcoin-wallets-history" aria-controls="btc" role="tab" data-toggle="tab">Bitcoin</a>
                </li>
                <li role="presentation">
                    <a href="/carcoin-wallets-history" data-id="carcoin-wallets-history" aria-controls="car" role="tab" data-toggle="tab">Carcoin</a>
                </li>
            </ul>
        </div>*@
@*</div>*@
<div class="main-content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="car">
            <div class="row">
                <div class="col-md-10 col-sm-12">
                    <div class="card-content">
                        <div class="row search-date">
                            <div class="col-md-3 col-sm-4">
                                <div class="form-group">
                                    <label class="label-control">From Date</label>
                                    @*<input type="text" class="form-control datepicker" value="10/05/2018" />*@
                                    <input type="text" id="txtFromDate" name="txtFromDate" class="form-control datepicker" >
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="form-group">
                                    <label class="label-control">To Date</label>
                                    @*<input type="text" class="form-control datepicker" value="10/05/2018" />*@
                                    <input type="text" id="txtToDate" name="txtToDate" class="form-control datepicker" >
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <button id="2lvlModal" type="submit" class="btn btn-warning btn-round btn-just-icon" onclick="SearchCarCoin()">
                                    <i class="material-icons">search</i>
                                </button>
                                <!-- <a id="2lvlModal" class="btn btn-danger btnSearch" onclick="SearchBooking()">Search</a> -->
                            </div>
                        </div>
                        <div class="overflow-x-auto">
                            <table class="table-hover table-checkresult" id="tblListCarWallet">
                                <thead>
                                    <tr>
                                        <th class="">Create Date</th>
                                        <th class="">TransactionID</th>
                                        <th class="">Carcoin Value</th>
                                        <th class="">Transaction blockchain</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListCarCoin">
                                  
                                    @if (Model != null && Model.Count == 2 && Model[0] != "")
                                    {
                                        @Html.Raw(Model[0])
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @if (Model != null && Model.Count == 2 && Model[1] != "")
                    {
                        @Html.Raw(Model[1])
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="padding: 0px; width:auto;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModalTransactionBTCWallet()"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title w-100" id="myModalLabel">Detail Information</h4>
            </div>
            <div class="modal-body" style="padding: 30px 0px 0px;padding-top: 0px;">
                <div class="panel panel-login">
                    <div class="panel-body">
                        <div class="col-lg-12" style="margin:0 auto">
                            <div class="card card-cascade mb-r" style="display: block;">
                                <div class="admin-panel info-admin-panel">
                                    <div class="card-block">
                                        <form>
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">

                                                <div class="col-md-12">
                                                    <label id="lbEwallet">TransactionID</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" style="padding-bottom:0px; padding-top:0px;margin-top:0px" value="" id="txtTransactionID" name="txtTransactionID" class="form-control validate">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <div class="col-md-12">
                                                    <label id="lbEwallet" style="margin-bottom:0px">Your Wallet Address</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" style="padding:0px" id="txtYourWalletAddress" name="txtYourWalletAddress" class="form-control validate">
                                                    </div>
                                                    <label style="color:red" id="lbPoint"></label>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <div class="col-md-12">
                                                    <label id="lbEwallet" style="margin-bottom:0px">Received Wallet Address</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" style="padding:0px" id="txtReceivedWalletAddress" name="txtReceivedWalletAddress" class="form-control validate">
                                                    </div>
                                                    <label style="color:red" id="lbPoint"></label>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <div class="col-md-12">
                                                    <label id="lbEwallet" style="margin-bottom:0px">BTC</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" style="padding:0px" id="txtBTC" name="txtBTC" class="form-control validate">
                                                    </div>
                                                    <label style="color:red" id="lbPoint"></label>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <div class="col-md-12">
                                                    <label id="lbEwallet" style="margin-bottom:0px">TransactionBitcoin</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        @*<input type="text" style="padding:0px" id="txtTransactionBitcoin" name="txtTransactionBitcoin" class="form-control validate" value="@Session["Linktestnet"]">*@
                                                        <a id="aLink" href="" target="_blank">
                                                            <input type="text" style="padding:0px; cursor:pointer" id="txtTransactionBitcoin" name="txtTransactionBitcoin" class="form-control validate" />
                                                        </a>
                                                    </div>
                                                    <label style="color:red" id="lbPoint"></label>
                                                </div>
                                            </div>
                                            <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <div class="col-md-6">
                                                    <label id="lbEwallet" style="margin-bottom:0px">CreateDate</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" style="padding:0px" id="txtCreateDate" name="txtCreateDate" class="form-control validate">
                                                    </div>
                                                    <label style="color:red" id="lbPoint"></label>
                                                </div>
                                                <div class="col-md-6">
                                                    <label id="lbEwallet" style="margin-bottom:0px">ExpiredDate</label>
                                                    <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                        <input type="text" style="padding:0px" id="txtExpiredDate" name="txtExpiredDate" class="form-control validate">
                                                    </div>
                                                    <label style="color:red" id="lbPoint"></label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="hdLinkTestNet" value="@ViewBag.LinkTestnet" />
@*<div id="over" style="display: none; background: #000; position: fixed; left: 0; top: 0; width: 100%; height: 100%; opacity: 0.8; z-index: 999;"></div>*@
<script src="/Scripts/jqueryui.js"></script>
<script src="/Scripts/coin.js"></script>
@*<script>
    $("#txtFromDate").datepicker();
    $("#txtToDate").datepicker();
</script>*@