﻿
@{
    ViewBag.Title = "My Transaction History";
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";

}

<div class="heading-sub-section">
    <h4 class="head-title">My Transaction Bonus Ticket</h4>
    <div class="play_section__tabs">
        <ul class="nav nav-tabs" role="tablist" id="betTabs">
            <li role="presentation" class="active">
                <a href="#btc" onclick="openTab('btc')" aria-controls="btc" role="tab" data-toggle="tab">Bitcoin</a>

            </li>
            @*<li role="presentation">
                    <a href="#car" onclick="openTab('car')" aria-controls="car" role="tab" data-toggle="tab">Carcoin</a>

                </li>*@
        </ul>
    </div>
</div>
<div class="main-content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active tab-btc" id="btc">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card-content">
                        <div class="row search-date">
                            <div class="col-md-3 col-sm-4">
                                <div class="form-group">
                                    <label class="label-control">From Date</label>
                                    <input type="text" id="txtFromDate_BTC" name="txtFromDate" class="form-control datepicker">
                                </div>
                            </div>


                            <div class="col-md-3 col-sm-4">
                                <div class="form-group">
                                    <label class="label-control">To Date</label>
                                    <input type="text" id="txtToDate_BTC" name="txtToDate" class="form-control datepicker">
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <button id="2lvlModal" type="submit" class="btn btn-warning btn-round btn-just-icon" onclick="SearchPagePromotion('BTC')">
                                    <i class="material-icons">search</i>
                                </button>
                                <!-- <a id="2lvlModal" class="btn btn-danger btnSearch" onclick="SearchBooking()">Search</a> -->
                            </div>
                        </div>
                        <div class="overflow-x-auto">
                            <table class="table-hover table-checkresult" id="tblListBTCWallet">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Transfer From</th>
                                        <th class="text-center">Create Date</th>
                                        @*<th class="text-center">TransactionID</th>*@
                                        <th class="text-center">Bitcoin Value</th>
                                        @*<th class="text-center">Transaction Blockchain</th>
                                        <th class="text-center">Transaction Type</th>
                                        <th class="text-center">Status</th>*@
                                    </tr>
                                </thead>
                                <tbody id="tbodyListBTCCoin">

                                    @if (Model != null && Model.Count == 2 && Model[0] != "")
                                    {
                                        @Html.Raw(Model[0])
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @if (Model != null && Model.Count == 2 && Model[1] != "")
                    {
                        @Html.Raw(Model[1])
                    }
                </div>
            </div>
        </div>
        @*<div role="tabpanel" class="tab-pane tab-car" id="car">
                @{
                Html.RenderAction("TransactionCar", "Coin", new { p = 1 });
                }
            </div>*@

    </div>
</div>

@*<div class="modal fade modal-ext show" id="myModalDetailWallet" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="display: none;">*@
<div class="modal fade" id="myModal_@ViewBag.Bitcoin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100" id="myModalLabel">Detail Information</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="row">

                        <div class="col-md-12">
                            <label id="lbEwallet">TransactionID</label>
                            <input type="text" value="" id="txtTransactionID_@ViewBag.Bitcoin" name="txtTransactionID" class="form-control validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label id="lbEwallet">Your Wallet Address</label>
                            <input type="text" id="txtYourWalletAddress_@ViewBag.Bitcoin" name="txtYourWalletAddress" class="form-control validate">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label id="lbEwallet">Received Wallet Address</label>
                            <input type="text" id="txtReceivedWalletAddress_@ViewBag.Bitcoin" name="txtReceivedWalletAddress" class="form-control validate">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label id="lbEwallet">BTC</label>
                            <input type="text" id="txtBTC_@ViewBag.Bitcoin" name="txtBTC" class="form-control validate">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label id="lbEwallet">TransactionBlockchain</label>
                            <a id="aLink_@ViewBag.Bitcoin" href="" target="_blank">
                                <input type="text" id="txtTransactionBitcoin_@ViewBag.Bitcoin" name="txtTransactionBitcoin" class="form-control validate" />
                            </a>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label id="lbEwallet">CreateDate</label>
                            <input type="text" id="txtCreateDate_@ViewBag.Bitcoin" name="txtCreateDate" class="form-control validate">

                        </div>
                        @*<div class="col-md-6">
                                <label id="lbEwallet">ExpiredDate</label>
                                <input type="text" id="txtExpiredDate_@ViewBag.Bitcoin" name="txtExpiredDate" class="form-control validate">
                            </div>*@
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="hdLinkTestNet_@ViewBag.Bitcoin" value="@ViewBag.LinkTestnet" />
<input type="hidden" id="hdCoinID_@ViewBag.Bitcoin" value="@ViewBag.Bitcoin" />

<script src="/Scripts/coin.js"></script>

<script>
    function openTab(coinName) {//evt,
        //if ($('.tab-pane.active') && $('.tab-pane.active').length > 0) {
        //    $('.tab-pane.active').css('display', 'none');
        //    $('.tab-pane.active').removeClass('active');
        //}
        if (coinName == 'btc') {
            //if ($('.tab-pane.tab-btc') && $('.tab-pane.tab-btc').length > 0) {
            //    $('.tab-pane.tab-btc').css('display', 'block');
            //    $('.tab-pane.tab-btc').addClass('active');
            //}

            //$.ajax({
            //    url: "/Coin/TransactionBTC",
            //    success: function (d) {
            //        $('#tbodyListBTCCoin').html(d);
            //       // $('#ulPaging').html(json.PagingResult);
            //    }
            //});
        }
        else {

            //if ($('.tab-pane.tab-car') && $('.tab-pane.tab-car').length > 0) {
            //    $('.tab-pane.tab-car').css('display', 'block');
            //    $('.tab-pane.tab-car').addClass('active');
            //    $('#btc').css('display', 'none');
            //}
            //$.ajax({
            //    url: "/Coin/TransactionCar",
            //    success: function (d) {
            //        $('#tbodyListCarCoin').html(d);
            //     //   $('#ulPaging').html(json.PagingResult);
            //    }
            //});

        }

    }
</script>
