﻿
@{
    ViewBag.Title = "TransactionWallet";
    ViewBag.TitlePage = "My transaction Bitcoin Wallet";

}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">


<div class="row">
    <div class="col-sm-12">
        <div class="card-content">
            <div class="row search-date">
                <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="label-control">From Date</label>
                        @*<input type="text" class="form-control datepicker" value="10/05/2018" />*@
                        <input type="text" id="txtFromDate_CarCoin" name="txtFromDate" class="form-control datepicker">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <div class="form-group">
                        <label class="label-control">To Date</label>
                        @*<input type="text" class="form-control datepicker" value="10/05/2018" />*@
                        <input type="text" id="txtToDate_CarCoin" name="txtToDate" class="form-control datepicker">
                    </div>
                </div>
                <div class="col-md-3 col-sm-4">
                    <button id="2lvlModal" type="submit" class="btn btn-warning btn-round btn-just-icon" onclick="SearchPageCoin('CarCoin')">
                        <i class="material-icons">search</i>
                    </button>
                    <!-- <a id="2lvlModal" class="btn btn-danger btnSearch" onclick="SearchBooking()">Search</a> -->
                </div>
            </div>
            <div class="overflow-x-auto">
                <table class="table-hover table-checkresult" id="tblListCarWallet">
                    <thead>
                        <tr>
                            <th class="text-center">#</th>
                            <th class="text-center">Create Date</th>
                            <th>TransactionID</th>
                            <th>Carcoin Value</th>
                            <th>Transaction blockchain</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody id="tbodyListCarCoin">

                        @if (Model != null && Model.Count > 0)
                        {
                            @Html.Raw(Model[0]);
                        }
                        else
                        {
                            <tr>
                                <td colspan="5">No Result Data</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (Model != null && Model.Count > 1)
        {
            @Html.Raw(Model[1]);
        }
    </div>
</div>



<div class="modal fade" id="myModal_@ViewBag.Carcoin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="CloseModalTransactionBTCWallet()"><span aria-hidden="true">×</span></button>*@
                <h4 class="modal-title w-100" id="myModalLabel">Detail Information</h4>
            </div>
            <div class="modal-body">

                <form>
                    <div class="row">
                        <div class="col-md-12">
                            <label id="lbEwallet">TransactionID</label>
                            <input type="text" value="" id="txtTransactionID_@ViewBag.Carcoin" name="txtTransactionID" class="form-control validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label id="lbEwallet">Your Wallet Address</label>
                            <input type="text" id="txtYourWalletAddress_@ViewBag.Carcoin" name="txtYourWalletAddress" class="form-control validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label id="lbEwallet">Received Wallet Address</label>
                            <input type="text" id="txtReceivedWalletAddress_@ViewBag.Carcoin" name="txtReceivedWalletAddress" class="form-control validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label id="lbEwallet">Carcoin</label>
                            <input type="text" id="txtBTC_@ViewBag.Carcoin" name="txtBTC" class="form-control validate">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label id="lbEwallet">TransactionBitcoin</label>
                            <a id="aLink_@ViewBag.Carcoin" href="" target="_blank">
                                <input type="text" id="txtTransactionBitcoin_@ViewBag.Carcoin" name="txtTransactionBitcoin" class="form-control validate" />
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label id="lbEwallet">CreateDate</label>
                            <input type="text" id="txtCreateDate_@ViewBag.Carcoin" name="txtCreateDate" class="form-control validate">
                        </div>
                        @*<div class="col-md-6">
                            <label id="lbEwallet">ExpiredDate</label>
                            <input type="text" id="txtExpiredDate_@ViewBag.Carcoin" name="txtExpiredDate" class="form-control validate">
                        </div>*@
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="hdLinkTestNet_@ViewBag.Carcoin" value="@ViewBag.LinkTestnet" />
<input type="hidden" id="hdCoinID_@ViewBag.Carcoin" value="@ViewBag.Carcoin" />

<script src="/Scripts/coin.js"></script>
