﻿@{
    /**/

    ViewBag.Title = "Ticket Winning";
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
    ViewBag.TitlePage = "My Ticket Winning History";

}
@{
    string fee = System.Configuration.ConfigurationManager.AppSettings["fee"];
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="heading-sub-section">
    <h4 class="head-title">@ViewBag.TitlePage</h4>
    <div class="play_section__tabs">
        <ul class="nav nav-tabs" role="tablist" id="">
        </ul>
    </div>
</div>
<div class="main-content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tickethistory">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row search-date">
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group form-orange">
                                <label class="label-control">From Date</label>
                                <input type="text" id="txtFromDate" name="txtFromDate" class="form-control datepicker">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <div class="form-group form-orange">
                                <label class="label-control">To Date</label>
                                <input type="text" id="txtToDate" name="txtToDate" class="form-control datepicker">
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4">
                            <button id="2lvlModal" type="submit" class="btn btn-warning btn-round btn-just-icon" onclick="SearchBookingWinnig()">
                                <i class="material-icons">search</i>
                            </button>
                        </div>
                    </div>
                    <div class="overflow-x-auto">
                        <table class="table-checkresult" id="tblListTicketHis">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="text-center">Ticket</th>
                                    <th class="text-center">Buy Date</th>
                                    <th class="text-center">Balls Drawn</th>
                                    <th class="text-center">Award</th>
                                    <th class="text-center">Values Withdraw</th>
                                    <th class="text-center">Status</th>                                    
                                </tr>
                            </thead>
                            <tbody id="tbodyListBookingWining" class="table thunderball">
                                
                                @if (Model != null && Model.LstString != null && Model.LstString.Count > 0)
                                {
                                    for (int i = 0; i < Model.LstString.Count; i++)
                                    {
                                        @Html.Raw(Model.LstString[i]);
                                    }

                                }
                                else
                                {
                                    <tr>
                                        <td colspan="7">No Data</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (Model != null && Model.StrValue != null)
                        {
                            @Html.Raw(Model.StrValue);
                        }
                    </div>
                </div>
            </div>
            <div class="modal fade" id="verify-getaward" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-center">Get Award</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form">
                                <div class="form-group">
                                    <label>Ticket number</label>
                                    <div id="divBallsWinning">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Amount for widthdrawal (BTC)</label>
                                    <p id="txtAmount"></p>
                                </div>
                                <div>
                                    <label>Free (BTC)</label>
                                    <p id="txtFee" style="color:red"></p>
                                </div>
                                <p id="txtpriority" style="color:red;display:none"></p>
                                <p id="txtDraw" style="color:red;display:none"></p>
                                <div class="form-group">
                                    <label for="">To BTC-wallet address</label>
                                    <p id="txtAddressWallet"></p>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-warning btn-sm" onclick="InsertAwardWithDraw()">Get Award</button>
                            <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdBookingWinnigID" value="0" />
<input type="hidden" id="hdOpenDateAward" value="" />
<input type="hidden" id="hdBookingID" value="" />

<script type="text/javascript" src="/Scripts/member/member.js"></script>
<script src="/Scripts/AwardWithDraw.js"></script>