﻿@using BBH.Lotte.Domain;
@using BBH.Lotte.CMSAdmin.Models;

@{
    ViewBag.Title = "Award Megaball Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/awardmegaballresult" style="text-decoration: none;"><i class="glyphicon glyphicon-th-list"></i>  Award Megaball Result</a>
                    </li>
                </ul>
            </div>
            @*<div class="row">
                    <div class="col-12 text-center">
                        <a onclick="ShowPopupCreateNewAwardNumber()" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#standardModal"><i class="fa fa-plus left"></i> Create New Award Result</a>
                    </div>
                </div>*@
            <div class="row">
                <div class="box col-md-12">
                    @*<div class="box-inner">
                        <div class="box-content">*@
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Choose Date" id="txtDatetimeResult" name="txtDatetimeResult">
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm" style="position: relative; height: 36px; width: 90px" onclick="SearchAward()"><i class="glyphicon glyphicon-search"></i>  Search</button>

                    </div>
                    @*</div>
                        </div>*@
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2>Award megaball result date <span id="spanAwardDate">@DateTime.Now.ToString("MM/dd/yyyy")</span></h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">

                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>Draw Number</th>
                                        <th>English Award Name</th>
                                        <th>Number Winning</th>
                                        <th>JackPot(XPR)</th>
                                        <th>CreateDate</th>
                                        <th>Status</th>
                                        <th>Confirm</th>
                                        @*<th>Confirm</th>*@
                                    </tr>
                                </thead>
                                <tbody id="tbodyListAwardMegaball">

                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTAWARDMEGABALL] != null)
                                    {
                                        IEnumerable<AwardMegaballBO> lstAwardMegaball = (IEnumerable<AwardMegaballBO>)ViewData[ViewDataKey.VIEWDATA_LISTAWARDMEGABALL];
                                        if (lstAwardMegaball != null)
                                        {
                                            foreach (AwardMegaballBO awardMegaball in lstAwardMegaball)
                                            {
                                                string titleStatus = "Lock";
                                                string status = "Active";
                                                if (awardMegaball.IsActive == 0)
                                                {
                                                    status = "InActive";
                                                    titleStatus = "Unlock";
                                                }
                                                MemberBO member = new MemberBO();

                                                int num1, num2, num3, num4, num5, extranum;
                                                num1 = awardMegaball.FirstNumber;
                                                num2 = awardMegaball.SecondNumber;
                                                num3 = awardMegaball.ThirdNumber;
                                                num4 = awardMegaball.FourthNumber;
                                                num5 = awardMegaball.FivethNumber;
                                                extranum = awardMegaball.ExtraNumber;

                                                <tr id="trGroup_@awardMegaball.NumberID" class="none-top-border">
                                                    <td class="center">@awardMegaball.NumberID</td>
                                                    <td class="center">@awardMegaball.AwardNameEnglish</td>
                                                    <td class="" style="text-align:center">
                                                        <span class="circle1">@num1</span>
                                                        <span class="circle1">@num2</span>
                                                        <span class="circle1">@num3</span>
                                                        <span class="circle1">@num4</span>
                                                        <span class="circle1">@num5</span>
                                                        <span class="circle_ball">@extranum</span>
                                                    </td>
                                                    <td class="center">@awardMegaball.JackPot</td>
                                                    <td class="center">@awardMegaball.CreateDate</td>
                                                    <td class="center">
                                                        <span class="label-success label label-default" title="@titleStatus">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        <a class="btn btn-info btn-sm" title="@awardMegaball.NumberID" href="javascript:void(0)" onclick="getWinnerMemberByNumberID(@awardMegaball.NumberID)"><i class="glyphicon glyphicon-edit icon-white"></i>&nbsp;Winner</a>
                                                    </td>
                                                    @*<td class="center">
                                                            <img src="/Images/loading.gif" id="imgLoading_@awardMegaball.NumberID" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">
                                                            <a class="btn btn-info btn-sm" title="@awardMegaball.NumberID" href="javascript:void(0)" onclick="ShowPopUpEditAwardMegaball('@awardMegaball.NumberID',@awardMegaball.AwardID,'@awardMegaball.GenCode','@awardMegaball.AwardNameEnglish')" data-toggle="modal" data-target="#standardModal"><i class="glyphicon glyphicon-edit icon-white"></i>Edit</a>
                                                            <a class="btn btn-warning btn-sm" href="javascript:void(0)" onclick="LockAndUnlockAwardMegaball('@awardMegaball.NumberID','@awardMegaball.IsActive')" title="@titleStatus">
                                                                @if (awardMegaball.IsActive == 1)
                                                                {
                                                                    <i class="glyphicon glyphicon-ok"></i>
                                                                }
                                                                else
                                                                {
                                                                    <i class="glyphicon glyphicon-remove"></i>
                                                                }
                                                            </a>
                                                        </td>*@
                                                </tr>
                                            }
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="" style="height: 48px;padding-bottom: 6px;">
                            <h2>List winner date <span id="spanWinnerDate">@DateTime.Now.ToString("MM/dd/yyyy")</span></h2>
                            <div class="col-md-1 hide" style="float:right;" id="divExportWinner">
                                <button class="btn btn-primary btn-sm" id="btnExportWinner" style="position: absolute; height: 36px; width: 100px; margin-left:20px; float:right" onclick="ExportExcelAwardWinner()"><i class="glyphicon glyphicon-print"></i>  Export Excel</button>
                                </div>
                                @*<div class="box-icon">
                <a href="#" class="btn btn-minimize btn-round btn-default">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </a>
                <a href="#" class="btn btn-close btn-round btn-default">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </div>*@
                            </div>
                            <div class="box-content">

                                <table class="table table-striped table-bordered responsive">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Email</th>
                                            <th>Transaction Code</th>
                                            <th>Win number</th>
                                            <th>JackPot(XRP)</th>
                                            <th style="width:100px">CreateDate</th>
                                            <th style="width:100px">Open Date</th>
                                            <th>AwardName</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tbodyWinnerAward">
                                        <tr><td colspan="8"> <strong> No result found </strong></td></tr>
                                        @*@if (ViewData[ViewDataKey.VIEWDATA_LISTWINERAWARD] != null)
                    {
                        IEnumerable<WinnerBO> lstWinerAward = (IEnumerable<WinnerBO>)ViewData[ViewDataKey.VIEWDATA_LISTWINERAWARD];
                        if (lstWinerAward != null)
                        {
                            foreach (WinnerBO award in lstWinerAward)
                            {
                                int num1, num2, num3, num4, num5, extranum;
                                num1 = award.FirstNumber;
                                num2 = award.SecondNumber;
                                num3 = award.ThirdNumber;
                                num4 = award.FourthNumber;
                                num5 = award.FivethNumber;
                                extranum = award.ExtraNumber;

                                <tr id="trGroup_@award.BookingID" class="none-top-border">
                                    <th>@award.BookingID</th>
                                    <td>@award.Email</td>
                                    <td>@award.TransactionCode</td>
                                    <td class="" style="text-align:center">
                                        <span class="circle1">@num1</span>
                                        <span class="circle1">@num2</span>
                                        <span class="circle1">@num3</span>
                                        <span class="circle1">@num4</span>
                                        <span class="circle1">@num5</span>
                                        <span class="circle_ball">@extranum</span>
                                    </td>
                                    <td class="center">@award.JackPot</td>
                                    <td class="center">@award.CreateDate.ToString("MM/dd/yyyy HH:mm:ss")</td>
                                    <td class="center">@award.OpenDate.ToString(OpenDateResult.OPENDATERESULT)</td>
                                    <td class="center">@award.AwardNameEnglish</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr><td colspan="4"> <strong> No result found </strong></td></tr>
                        }
                    }*@
                                    </tbody>
                                </table>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Information Award Megaball Result</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>
                    <div class="row" style="margin-bottom:15px">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <input type="text" onfocus="ResetForm('lbErrorNumberValue', this.value)" onkeypress="PreventInput(event,this.value)" id="txtNumberValue" name="txtNumberValue" placeholder="Win Number" class="form-control validate">

                            </div>
                            <label id="lbErrorNumberValue" style="color:red; display:none" class=""></label>
                        </div>
                    </div>

                    <div class="row">
                        <!--First column-->
                        <div class="col-md-12">
                            <div class="md-form">
                                <select id="cbAward" name="cbAward" onchange="ResetForm('lbErrorAward', this.value)" class="form-control" data-rel="chosen">
                                    <option value="0">Select Award</option>
                                    @if (ViewData[ViewDataKey.VIEWDATA_LISTAWARD] != null)
                                    {
                                        IEnumerable<AwardBO> lstAward = (IEnumerable<AwardBO>)ViewData[ViewDataKey.VIEWDATA_LISTAWARD];
                                        if (lstAward != null)
                                        {
                                            foreach (AwardBO award in lstAward)
                                            {
                                                <option value="@award.AwardID">@award.AwardNameEnglish</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                            <label id="lbErrorAward" style="color: red; display: none" class=""></label>
                        </div>
                    </div>
                </form>
                <br>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" onclick="SaveAwardNumber()" contenteditable="true">Save</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<input type="hidden" id="hdNumberID" value="0" />
<script src="/Scripts/jqueryui.js"></script>
@*<script type="text/javascript" src="/Scripts/jquery.alphanumeric.js"></script>*@
<script>

    $("#txtDatetimeResult").datepicker({ dateFormat: 'mm/dd/yy' });
   // $('#txtNumberValue').numeric();
</script>
<script src="/Scripts/awardmegaballresult/awardmegaballresult.js"></script>
<script src="/Scripts/awardmegaball/awardmegaball.js"></script>