﻿@model BBH.Lotte.Web.Models.WithDrawBTCModel

<div role="tabpanel" class="tab-pane active" id="btc">
    <form id="formWithdrawBTC" method="post">
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label class="label-lg">Bitcoin-wallet address</label>
                </div>
                <div class="col-sm-4 col-xs-6">
                    @*<input type="text" class="form-control text-md">*@
                    @Html.EditorFor(model => model.AddrressBTC, new { htmlAttributes = new { @class = "form-control text-md" }, })
                    @Html.ValidationMessageFor(model => model.AddrressBTC)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label class="label-lg">Amount for withdrawal (from 0.001 BTC)</label>
                </div>
                <div class="col-sm-4 col-col-xs-12">
                    @*<input type="number" name="amount" class="form-control text-md" placeholder="0.01" />*@
                    @Html.EditorFor(model => model.AmountBTC, new { htmlAttributes = new { @class = "form-control text-md", @Value = "", @placeholder = "0.001", @onkeyup = "OnChangeAmountBTC(this);", @onkeypress = "OnChangeAmountBTC(this);" }, })
                    @Html.ValidationMessageFor(model => model.AmountBTC)
                </div>
                <div class="col-xs-12">
                    <p class="note">Available for withdrawal <span class="c-orange">@ViewBag.BTCNumberCoin</span> BTC</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12">
                    <label class="label-lg">Total</label>
                </div>
                <div class="col-sm-4 col-col-xs-12">
                    @*<input type="number" name="amount" class="form-control text-md" readonly />*@
                    @Html.EditorFor(model => model.TotalBTC, new { htmlAttributes = new { @class = "form-control text-md", @Value = "", @placeholder = "0.0005", @readonly = "true" }, })
                </div>
                <div class="col-xs-12">
                    <p class="note">Service fee:<span class="c-orange"> @ViewBag.FeeBTC BTC</span></p>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-warning">Send</button>
    </form>
    <input type="hidden" id="hdFeeBTC" name="hdFeeBTC" value="@ViewBag.FeeBTC" />
 </div>