﻿@using BBH.LotteFE.Domain;
@{
    ViewBag.Title = "Top Up";
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
}
<div class="heading-sub-section">
    <h4 class="head-title">Top-up</h4>
    <h6 class="sub-title">Top up BTC to your wallet to buy tickets and play anytime.</h6>
    <div class="play_section__tabs">
        <ul class="nav nav-tabs" role="tablist" id="betTabs">
            <li role="presentation" class="active">
                <a href="#btc" aria-controls="btc" role="tab" data-toggle="tab">Bitcoin</a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="btc">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="label-lg">Top-up address</label>
                    </div>
                    <div class="col-md-6 col-sm-9 col-xs-12">
                        <input class="input-link text-lg" id="txtEwalletBTC" title="@ViewData[BBH.Lotte.Shared.SessionKey.BTCADDRESS]" value="@ViewData[BBH.Lotte.Shared.SessionKey.BTCADDRESS]">
                    </div>
                    <div class="col-xs-12">
                        <button class="btn btn-primary btn-sm" onclick="copy('txtEwalletBTC')">Copy to clipboard</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="label-lg">Or scan the QR-code</label>
                    </div>
                    <div class="col-xs-12">
                        <img id="recharge_qr" class="img-qr" data-wallet="@ViewData[BBH.Lotte.Shared.SessionKey.BTCADDRESS]" src="https://chart.googleapis.com/chart?chs=195x195&amp;cht=qr&amp;chl=@(ViewData[BBH.Lotte.Shared.SessionKey.BTCADDRESS])" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdEwallet" value="@ViewData["EWallet"]">
