﻿@model BBH.Lotte.Web.Models.TranferBTCModel

@{
    ViewBag.Title = "TransferBTC";
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
}
<div class="heading-sub-section">
    <h4 class="head-title">Internal Transfer</h4>
    <div class="play_section__tabs">
        <ul class="nav nav-tabs" role="tablist" id="betTabs">
            <li role="presentation" class="active">
                <a href="#btc" aria-controls="btc" role="tab" data-toggle="tab">Bitcoin</a>
            </li>
        </ul>
    </div>
</div>
<div class="main-content">
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="btc">
            <form id="formTransferBTC" method="post">
                <div class="form-group mb-0">
                    <div class="row">
                        <div class="col-sm-4 col-xs-12">
                            <div class="radio inline-block first">
                                <label for="IsEmailTransfer_true">
                                    @Html.RadioButtonFor(model => model.IsEmailTransfer, true, new { id = "IsEmailTransfer_true", name = "IsEmailTransfer", @class = "control-radio", @checked = "true", @onclick = "OnClickIsEmail(this);" })
                                    Email
                                </label>
                            </div>
                            <div class="radio inline-block">
                                <label for="IsEmailTransfer_false">
                                    @Html.RadioButtonFor(model => model.IsEmailTransfer, false, new { id = "IsEmailTransfer_false", name = "IsEmailTransfer", @class = "control-radio", @onclick = "OnClickIsEmail(this);" })
                                    Address
                                </label>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="label-lg">To <span id="spanUser">email</span></label>
                        </div>
                        <div class="col-sm-4 col-xs-12">
                            @Html.EditorFor(model => model.ToUser, new { htmlAttributes = new { @class = "form-control text-md"}})
                            @Html.ValidationMessageFor(model => model.ToUser)
                        </div>
                        <div class="col-xs-12">
                            <span class="label-lg" id="spanTouser"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="label-lg">Amount for transfer</label>
                        </div>
                        <div class="col-sm-4 col-col-xs-12">
                            @Html.EditorFor(model => model.AmountBTC, new { htmlAttributes = new { @class = "form-control text-md", @Value = "", @placeholder = "0.00000001", @onkeyup = "OnChangeAmountBTC(this);", @onkeypress = "OnChangeAmountBTC(this);" } })
                            @Html.ValidationMessageFor(model => model.AmountBTC)
                        </div>
                        <div class="col-xs-12">
                            <p class="note">Available for tranfer <span class="c-orange" id="spanAvailableTranfer">0</span> BTC</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-xs-12">
                            <label class="label-lg">Description</label>
                        </div>
                        <div class="col-sm-4 col-col-xs-12">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-area", @cols = "35", @rows = "5" })
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning">Send</button>
            </form>
        </div>
    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/point/transfer.js"></script>

