﻿@using BBH.LotteFE.Domain;
@{
    ViewBag.Title = "Withdraw";
    Layout = "~/Views/Shared/_LayoutLotteryCarcoin.cshtml";
}

<div class="heading-sub-section">
    <h4 class="head-title">Withdrawal</h4>
    <div class="play_section__tabs">
        <ul class="nav nav-tabs" role="tablist" id="betTabs">
            <li role="presentation" class="active">
                <a href="#btc" aria-controls="btc" role="tab" data-toggle="tab">Bitcoin</a>
            </li>
            @*<li role="presentation">
                <a href="#car" aria-controls="car" role="tab" data-toggle="tab">Carcoin</a>
            </li>*@
        </ul>
    </div>
</div>
<div class="main-content">
    <div class="tab-content">
        @*partial withdraw btc*@
        @{Html.RenderAction("_PartialWithDrawBTC", "Point");}
        @*partial withdraw carcoin*@
        @*@{Html.RenderAction("_PartialWithDrawCarCoin", "Point");}*@
    </div>
</div>
@*<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js"></script>*@
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
<script type="text/javascript" src="~/Scripts/point/with-draw.js"></script>


