﻿@{
    ViewBag.Title = "Login";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/Content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/Content/css/mdb.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/Content/css/style.css" rel="stylesheet">
    <link href="/Content/alertify/bootstrap-alertity.min.css" rel="stylesheet">
    <link href="/Content/alertify/alertify.min.css" rel="stylesheet">
    <!--Style-dev: css for developer-->
    <link href="~/Content/css/style-dev.min.css" rel="stylesheet" />
    <script src="https://apis.google.com/js/api:client.js"></script>
</head>

<body class="fixed-sn white-skin">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 login-form mx-auto float-none">
                <div class="card">
                    <div class="card-block">
                        <!--Header-->
                        <div class="form-header">
                            <h3><i class="fa fa-lock"></i> Login</h3>
                        </div>
                        <!--Body-->
                        <div class="md-form">
                            <i class="fa fa-envelope prefix active"></i>
                            <input type="text" id="txtEmail" name="txtEmail" onfocus="ResetForm(1)" placeholder="Email" class="form-control">
                            <label id="lbEmail" style="color:red; display:none" class="error-message active"></label>
                        </div>

                        <div class="md-form">
                            <i class="fa fa-lock prefix active"></i>
                            <input type="password" id="txtPassword" name="txtPassword" placeholder="Password" onkeydown="return EnterLogin(event, this.value)" onfocus="ResetForm(3)" class="form-control">
                            <label id="lbPass" style="color:red; display:none" class="error-message active"></label>
                        </div>
                        <div class="text-center login">
                            <button class="btn btn-primary" onclick="return LoginMember()"><i class="fa fa-lock"></i>&nbsp;&nbsp;&nbsp;Login With RippleLot</button>
                        </div>
                        <div class="text-center login">
                            <a class="btn btn-primary btn-facebook-login" onclick="RequestLoginFB();"><i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Login With Facebook</a>

                        </div>
                        <div class="text-center login">
                            <a class="btn btn-primary btn-google-login" id="btnLoginGoogle"><i class="fa fa-google-plus" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;Login With Google+</a>
                        </div>
                    </div>
                    <!--Footer-->
                    <div class="">
                        <div class="modal-footer text-center font14">
                            <a onclick="backPagePrev();" title="Go to previous page">Previous Page</a>
                            <span class="space cursorContext">&nbsp;</span>
                            <a href="/sign-up?redirect=@ViewData["urlredirect"]">Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade show" id="divChangePassword" role="dialog" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">
                            Register Password
                            <br />
                            <span id="spanMessagePass">Please enter a new password for RippleLot for the first time</span>
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="txtNewPassword"><span class="glyphicon glyphicon-user"></span>New Password:</label>
                                <input type="password" class="form-control password" id="txtNewPassword" placeholder="New Password">
                            </div>
                            <div class="form-group">
                                <label for="txtConfirmNewPassword"><span class="glyphicon glyphicon-user"></span>Confirm New Password:</label>
                                <input type="password" class="form-control password" id="txtConfirmNewPassword" placeholder="Confirm New Password">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer footerModalBtn">
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="ChangePassWord();">Save & Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdRedirect" value="@ViewData["UrlRedirect"]" />
    <input type="hidden" id="hdLanguage" value="@Session["Language"]" />
    <input type="hidden" id="hdIsLoginOther" name="hdIsLoginOther" value="@(ViewBag.intIsLoginType != null ? ViewBag.intIsLoginType : 0)" />
    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="/Content/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/Content/js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script src="~/Content/alertify/alertify.js"></script>
    <script src="~/Scripts/common/common.js"></script>
    <script type="text/javascript" src="/Scripts/login/login.js"></script>
    <script>
        var clientIDGoogle = '@(System.Configuration.ConfigurationManager.AppSettings["clientID:GoogleSigned-in"])';
        var clientIDFace = '@(System.Configuration.ConfigurationManager.AppSettings["clientID:FBSigned-in"])';

        $(document).ready(function () {
            var url = "/login";
            try {
                history.pushState(null, url, url);
            }
            catch (e) {

            }

            //init login google
            initialLoginGoogle();
        });

        window.fbAsyncInit = function () {
            FB.init({
                appId: clientIDFace,
                cookie: true,
                xfbml: true,
                version: 'v2.8'
            });
            
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        };
       
        function RequestLoginFB() {
            window.location = 'http://graph.facebook.com/oauth/authorize?client_id=' + clientIDFace +'&scope=public_profile,email,user_likes&redirect_uri=http://lotte.bbc.gold/login?intIsLoginType=1';
        }
        
        var initialLoginGoogle = function () {
            gapi.load('auth2', function () {
                auth2 = gapi.auth2.init({
                    client_id: clientIDGoogle,
                    cookiepolicy: 'single_host_origin',
                });
                attachSignin(document.getElementById('btnLoginGoogle'));
            });
        };
        
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.81&appId=' + clientIDFace;
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</body>
</html>