﻿@using BBH.Lotte.Domain;

@{
    ViewBag.Title = "Manager Transaction Package";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">

            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/package">Manager Transaction Package</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="box col-md-12">
                    @*<div class="box-inner">
                        <div class="box-content">*@
                    <div class="col-md-2">
                        <div class="controls">
                            <select id="cbMember" class="form-control" data-rel="chosen">
                                <option value="0">Select member</option>
                                @if (ViewData["ListMember"] != null)
                                {
                                    IEnumerable<MemberBO> lstMember = (IEnumerable<MemberBO>)ViewData["ListMember"];
                                    if (lstMember != null && lstMember.Count() > 0)
                                    {
                                        foreach (MemberBO mem in lstMember)
                                        {
                                            <option value="@mem.MemberID">@mem.Email</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="From Date" id="txtFromDate" name="txtFromDate">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="To Date" id="txtToDate" name="txtToDate">
                    </div>
                    <div class="col-md-2">
                        <div class="controls">
                            <select id="cbStatus" class="form-control" data-rel="chosen">
                                <option value="-1">Status</option>
                                <option value="0">Not confirm</option>
                                <option value="1">Confirmed</option>
                                <option value="2">Deleted</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <img id="imgLoadingSearch" src="/Images/loading.gif" style="display:none; position:relative; float:right">
                        <button class="btn btn-primary btn-sm" style="position:relative; height:36px; width:90px" onclick="SearchPackage()">Search</button>
                        <button class="btn btn-primary btn-sm" style="position: absolute; height: 36px; width: 90px; margin-left:20px; float:right" onclick="ExportExcelPackage()">Export Excel</button>
                    </div>
                    @*</div>
                        </div>*@
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i>List Transaction</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>Transaction Code</th>
                                        <th>Email</th>
                                        <th>Package Name</th>
                                        <th>Buy Date</th>
                                        <th>Expire Date</th>
                                        <th>Status</th>
                                        <th>Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListPackage">

                                    @if (ViewData["TransactionPackage"] != null)
                                    {
                                        IEnumerable<TransactionPackageBO> lstTransaction = (IEnumerable<TransactionPackageBO>)ViewData["TransactionPackage"];
                                        if (lstTransaction != null && lstTransaction.Count() > 0)
                                        {
                                            foreach (TransactionPackageBO transaction in lstTransaction)
                                            {
                                                string titleStatus = "";
                                                string status = "";
                                                if (transaction.Status == 0)
                                                {
                                                    status = "Not confirm";
                                                    titleStatus = "Confirm";
                                                }
                                                else if (transaction.Status == 1)
                                                {
                                                    status = "Confirm";
                                                    titleStatus = "Actived";
                                                }
                                                else if (transaction.Status == 2)
                                                {
                                                    status = "Deleted";
                                                    titleStatus = "";
                                                }

                                                <tr id="trGroup_@transaction.TransactionID" class="none-top-border">
                                                    <td class="center">@transaction.TransactionID</td>
                                                    <td>@transaction.Email</td>
                                                    <td class="center">@transaction.PackageName</td>
                                                    <td class="center">@transaction.CreateDate.ToString("dd/MM/yyyy")</td>
                                                    <td class="center">@transaction.ExpireDate.ToString("dd/MM/yyyy")</td>
                                                    <td class="center">
                                                        <span class="label-success label label-default">@status</span>
                                                    </td>
                                                    <td class="center">
                                                        <img src="/Images/loading.gif" id="imgLoading_@transaction.TransactionID" style="position: absolute; display:none ; float: right; width: 30px; margin-left: 45px; ">
                                                        @if (transaction.Status == 0)
                                                        {
                                                            <a class="btn btn-info btn-sm" href="javascript:void(0)" onclick="ConfirmTransaction('@transaction.TransactionID','1','@transaction.MemberID','@transaction.PackageID')"><i class="glyphicon glyphicon-edit icon-white"></i>Confirm</a>
                                                            <a class="btn btn-warning btn-sm" href="javascript:void(0)" onclick="ConfirmTransaction('@transaction.TransactionID','2','@transaction.MemberID','@transaction.PackageID')"><i class="glyphicon glyphicon-trash icon-white"></i>Delete</a>
                                                        }

                                                    </td>

                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                            @{Html.RenderAction("Index", "Paging");}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/Scripts/jqueryui.js"></script>
<script>
    $("#txtFromDate").datepicker({ dateFormat: 'dd/mm/yy' });
    $("#txtToDate").datepicker({ dateFormat: 'dd/mm/yy' });
</script>
<script type="text/javascript" src="/Scripts/package/package.js"></script>

