﻿@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}

<header>
    <!-- Sidebar navigation -->
    <ul id="slide-out" class="side-nav fixed sn-bg-1 custom-scrollbar">
        <!-- Logo -->
        @*<li>
            <div class="user-box">
                <img src="/Images/avatar.jpg" class="img-fluid rounded-circle">
                <p class="user text-center black-text">@Session["Email"]</p>
                <p class="user text-center" style="color:#0094ff">Points: @Session["Points"]</p>
                <p class="user text-center" style="color:#0094ff">Expired Date: @Session["ExpireDate"]</p>

            </div>
        </li>*@
        <!--/. Logo -->
        <!-- Side navigation links -->
        @*<li>
        <ul class="collapsible collapsible-accordion">


            <li><a href="/package" class="collapsible-header waves-effect arrow-r"><i class="fa fa-pie-chart"></i> Nạp Euro</a>

            <li><a href="/diem-thanh-vien" class="collapsible-header waves-effect arrow-r"><i class="fa fa-users"></i> Nạp điểm</a>
            <li><a href="/booking-tickets" class="collapsible-header waves-effect arrow-r"><i class="fa fa-money"></i> Mua vé</a>
            <li><a href="/xo-so" class="collapsible-header waves-effect arrow-r"><i class="fa fa-money"></i>Xem xổ số</a>


            <li><a href="/tickets-history" class="collapsible-header waves-effect arrow-r"><i class="fa fa-pie-chart"></i>lịch sử mua vé</a>
            <li><a href="/points-history" class="collapsible-header waves-effect arrow-r"><i class="fa fa-pie-chart"></i> Lịch sử mua điểm</a>
            <li><a href="/packages-history" class="collapsible-header waves-effect arrow-r"><i class="fa fa-pie-chart"></i>Lịch sử mua gói</a>
            <li><a href="/change-password" class="collapsible-header waves-effect arrow-r"><i class="fa fa-pie-chart"></i> Đổi mật khẩu</a>

            <li><a href="/logout" class="collapsible-header waves-effect arrow-r"><i class="fa fa-pie-chart"></i> Thoát</a>


        </ul>
    </li>*@
        <!--/. Side navigation links -->
        <div class="sidenav-bg mask-strong"></div>
    </ul>
    <!--/. Sidebar navigation -->
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar double-nav">

        <!-- SideNav slide-out button -->
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>

        </div>

        <!-- Breadcrumb-->
        <ol class="breadcrumb hidden-lg-down">
            <li class="breadcrumb-item active"><a href="#">Thông tin</a></li>
            @*<li class="breadcrumb-item active">Dashboard V.1</li>*@
        </ol>

        <!--Navbar links-->
        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            @*<li class="nav-item">
                    <a class="nav-link">
                        <span class="badge red">9 </span> <i class="fa fa-upload"></i>
                        <span class="hidden-sm-down">Publish changes</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="badge red">99</span> <i class="fa fa-bell"></i>
                        <span class="hidden-sm-down">Notifications</span>
                    </a>
                    <div class="dropdown-menu header-notifications animated dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <ul>
                            <li class="active-notification"><i class="fa fa-user" aria-hidden="true"></i> New order received <span class="float-right grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 13 min</span></li>
                            <li class="active-notification"><i class="fa fa-user" aria-hidden="true"></i> New order received <span class="float-right grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 51 min</span></li>
                            <li class="active-notification"><i class="fa fa-bullhorn" aria-hidden="true"></i> Your campaign is about to end <span class="float-right grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 3 hours</span></li>
                            <li class="active-notification"><i class="fa fa-line-chart" aria-hidden="true"></i> Raport is ready to be downloaded <span class="float-right grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 1 day</span></li>
                            <li class="active-notification"><i class="fa fa-life-saver" aria-hidden="true"></i> Something else <span class="float-right grey-text"><i class="fa fa-clock-o" aria-hidden="true"></i> 1 day</span></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-envelope"></i> <span class="hidden-sm-down">Contact</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"><i class="fa fa-comments-o"></i> <span class="hidden-sm-down">Support</span></a>
                </li>*@
            @*<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-user"></i> <span class="hidden-sm-down">@Session["Email"]</span>
        </a>
        <div class="dropdown-menu dropdown-ins dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/change-password">Đổi mật khẩu</a>
            <a class="dropdown-item" href="/tickets-history">lịch sử mua vé</a>
            <a class="dropdown-item" href="/points-history">Lịch sử mua điểm</a>
            <a class="dropdown-item" href="/packages-history">Lịch sử mua gói</a>
            <a class="dropdown-item" href="javascript:void(0)" onclick="ExistsMember()">Thoát</a>
        </div>
    </li>*@
        </ul>
        <!--/Navbar links-->

    </nav>
    <!-- /.Navbar -->

</header>
<script type="text/javascript">
    function ExistsMember() {
        $.ajax({
            type: "post",
            url: "/Login/LogoutMember",
            async: false,
            beforeSend: function () {

            },
            success: function (d) {
                if (d == 'logout') {
                    window.location.href = '/';
                    window.location.reload();
                }
            }
        });
    }
</script>
