﻿
@{
    Layout = "~/Views/Home/_LayoutLandingPageLotte.cshtml";
}
<div class="main-content">
    <!--Header-->
    @{Html.RenderAction("ContentLeft", "Home");}
    <!--End header-->
    <div class="content-right about">
        <div class="free-ticket">
            <div class="row">
                <div class="col-md-7">
                    <h2 class="hel-bold c-grey">ABOUT US</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-7">
                    <ul class="nav nav-about">
                        <li class="active">
                            <a data-toggle="tab" href="#what">What is CSC?</a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#jackpot">CSC Jackpot</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="what" class="tab-pane active">
                            <p>CSC or Car Sharing Community is a fast and easy to use service that aims at delivering the most secure, private and convenient ride share service globally. It provides the highest level of security and transparency for its users through a platform based on blockchain technology</p>
                            <p>All transactions are based on CSC’s decentralised crypto currency called CarCoin which can be bought through any recognised cryptocurrency such as Bitcoin, Ethereum or Ripple to name a few. </p>
                        </div>
                        <div id="jackpot" class="tab-pane">
                            <p>The CSC Jackpot is a digital lottery style game based on blockchain technology that ensures fairness of the draw and absolute transparency of the result. </p>
                            <p>A transparent prize fund that is based on ticket sales and a fair draw process that can be verified by the user on the CSC Jakcpot website make this the safest and most secure way to win! There is a lot to play for with exciting cash prizes each day and a monthly jackpot!</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <img src="~/Content/LandingPageLotte/assets/img/about/1.jpg" class="img-responsive" alt="">
                </div>
            </div>
            <div class="img-2"></div>
            <div class="img-3"></div>
        </div>
        <div class="video">
            <div class="content">
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="mont">FULL <span class="f-spec">INFORMATION</span> <br> ON HOW TO <span class="f-spec">PLAY</span></h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="privacy">
            <div class="content">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <h3 class="hel-bold">PRIVACY POLICY</h3>
                    </div>
                    <div class="col-md-7">
                        <p>Our Privacy Policy is meant to help you understand what information we collect, why we collect it, and how you can update, manage, export, and delete your information. </p>
                        <p>We care about Your privacy. AND You need to read our privacy policy.</p>
                        <p>If you do not agree with this Policy, do not use our products and services or provide HERE with your personal data.</p>
                    </div>
                    <div class="col-md-2 text-right">
                        <button onclick="window.location.href='policy'" class="btn btn-primary">Read more</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="term">
            <div class="content">
                <div class="row align-items-center">
                    <div class="col-md-4">
                        <h3 class="hel-bold c-grey">TERM & CONDITIONS</h3>
                        <p class="c-grey-light">Please read the following terms and conditions carefully as it sets out the terms of a legally binding agreement between you (the ‘‘users’’) and Our company.</p>
                        <button onclick="window.location.href='termofuse'" class="btn btn-primary">Read more</button>
                    </div>
                    <div class="col-md-8">
                        <div id="slick-term-story" class="slick-story">
                            <div class="block-term">
                                <div class="flex">
                                    <div class="inline-block">
                                        <h3 class="mont-bold c-grey-light">01</h3>
                                    </div>
                                </div>
                                <p class="hel-bold c-grey">Eligible users</p>
                            </div>
                            <div class="block-term">
                                <div class="flex">
                                    <div class="inline-block">
                                        <h3 class="mont-bold c-grey-light">02</h3>
                                    </div>
                                </div>
                                <p class="hel-bold c-grey">Registration, KYC, and account</p>
                            </div>
                            <div class="block-term">
                                <div class="flex">
                                    <div class="inline-block">
                                        <h3 class="mont-bold c-grey-light">03</h3>
                                    </div>
                                </div>
                                <p class="hel-bold c-grey">Game Rules</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        @{Html.RenderAction("Footer", "Home");}
    </div>
</div>

