﻿
@{
    Layout = "~/Views/Home/_LayoutLandingPageLotte.cshtml";
}
<div class="main-content">
    <!--Header-->
    @{Html.RenderAction("ContentLeft", "Home");}
    <!--End header-->
    <div class="content-right faq">
        <div class="contact">
            <div class="content">
                <h2 class="hel-bold c-grey mb-20">FAQs</h2>
                <div class="row">
                    <div class="col-md-6">
                        <p class="c-grey-light">If you were unable to find an answer to your question using search box or navigating through the section of our help center, you can contact technical support using the form below.</p>
                        <button class="btn btn-default btn-sm" onclick="window.location.href='contactus'">Contact us</button>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-8">
                        <hr class="xl">
                        <div class="all-faq panel-group">
                            <div id="q1" class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span class="mont-bold">01 .</span> How can I play CSC Jackpot 6/39 Game?
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body">
                                        <p>You can log on the system, execute the account verification, load of BTC and play. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span class="mont-bold">02 .</span> How can I have free ticket?
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body">
                                        <p>There are two steps: </p>
                                        <ul class="pl-17">
                                            <li>1. Register account (Free) and verify by email</li>
                                            <li>2. Invite new user by link referrals and play game. </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span class="mont-bold">03 .</span> How long can I take the Prize?
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body">
                                        <p>Maximum of 7 days.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span class="mont-bold">04 .</span> How much is payout fee for awards?
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body">
                                        <p>The fee is based on the value of the prize the player receives. From 0% -5% / 1 award. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span class="mont-bold">05 .</span> How to check the transparency of the system?
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body">
                                        <p>In order to check the transparency of system, you can check on block hash system. For example, you can also check the keywords, or code. Besides, you can check on our github. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span class="mont-bold">06 .</span> Can I have to multiple accounts for CSC Jackpot?
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body">
                                        <p>One email address for only one account. </p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span class="mont-bold">07 .</span> What to do if I forgot password?
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body">
                                        <p>Please click on “Forget password” and wait for instructions from email. Or you can contact to us: support@cscjackpot.com</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span class="mont-bold">08 .</span> How can I see my personal profile?
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body">
                                        <ul class="pl-17">
                                            <li>Click on the left of the homepage, then you will see the personal data and check.</li>
                                            <li>Click on history transactions, then you will see your transaction.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <span class="mont-bold">09 .</span> How can I check the last result?
                                    </h4>
                                </div>
                                <div class="panel-collapse">
                                    <div class="panel-body">
                                        <p>Click on Lotto Result and check it out. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Footer-->
        @{Html.RenderAction("Footer", "Home");}
    </div>
</div>
