﻿
<div class="modal fade" tabindex="-1" role="dialog" id="registration-login">
    <div class="modal-dialog ui-block window-popup registration-login-form-popup">
        <div class="registration-login-form">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item active">
                    <a class="nav-link" data-toggle="tab" href="#login" role="tab">
                        <i class="material-icons">exit_to_app</i>
                        <p>Sign in</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#register" role="tab">
                        <i class="material-icons">power_settings_new</i>
                        <p>Sign up</p>
                    </a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="login" role="tabpanel" data-mh="log-tab">
                    <div class="title h6">Login to your Account</div>
                    @{Html.RenderAction("_PartialViewLogin", "Member");}
                </div>
                <div class="tab-pane" id="register" role="tabpanel" data-mh="log-tab">
                    @{Html.RenderAction("_PartialViewRegister", "Member");}
                </div>
                <div class="tab-pane" id="recover" role="tabpanel" data-mh="log-tab">
                    @{Html.RenderAction("_PartialViewRecoverPassword", "Member");}
                </div>
                <div class="tab-pane" id="update-pass" role="tabpanel" data-mh="log-tab">
                    @{Html.RenderAction("_PartialUpdatePassword", "Member");}
                </div>
            </div>
        </div>
    </div>
</div>