﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="en-US">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html id="ie8" lang="en-US">
<![endif]-->
<!--[if !(IE 6) | !(IE 7) | !(IE 8)  ]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <meta charset="UTF-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="pingback" href="/xmlrpc.php" />
    <title>CSC Jackpot - News & Events</title>
    <!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">-->
    <!--[if lt IE 9]>
    <script src="/source/wp-content/themes/Divi/js/html5.js" type="text/javascript"></script>
    <![endif]-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" type="text/javascript"></script>
    <!--    <script src="-->
    <!--"-->
    <!--            type="text/javascript"></script>-->

    <script type="text/javascript">
        document.documentElement.className = 'js';

        var et_site_url = 'https://cscjackpot.com';
        var et_post_id = '5';
        function et_core_page_resource_fallback(a, b) { "undefined" === typeof b && (b = a.sheet.cssRules && 0 === a.sheet.cssRules.length); b && (a.onerror = null, a.onload = null, a.href ? a.href = et_site_url + "/?et_core_page_resource=" + a.id + et_post_id : a.src && (a.src = et_site_url + "/?et_core_page_resource=" + a.id + et_post_id)) }
    </script>

    <title>CSCJ &#8211; Just another WordPress site</title>
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='dns-prefetch' href='//s.w.org' />
    <link rel="alternate" type="application/rss+xml" title="CSCJ &raquo; Feed" href="/feed/" />
    <link rel="alternate" type="application/rss+xml" title="CSCJ &raquo; Comments Feed" href="/comments/feed/" />
    <script type="text/javascript">
        window._wpemojiSettings = { "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/72x72\/", "ext": ".png", "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/11\/svg\/", "svgExt": ".svg", "source": { "concatemoji": "https:\/\/cscj.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.0.1" } };
        !function (a, b, c) { function d(a, b) { var c = String.fromCharCode; l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, a), 0, 0); var d = k.toDataURL(); l.clearRect(0, 0, k.width, k.height), l.fillText(c.apply(this, b), 0, 0); var e = k.toDataURL(); return d === e } function e(a) { var b; if (!l || !l.fillText) return !1; switch (l.textBaseline = "top", l.font = "600 32px Arial", a) { case "flag": return !(b = d([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819])) && (b = d([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]), !b); case "emoji": return b = d([55358, 56760, 9792, 65039], [55358, 56760, 8203, 9792, 65039]), !b }return !1 } function f(a) { var c = b.createElement("script"); c.src = a, c.defer = c.type = "text/javascript", b.getElementsByTagName("head")[0].appendChild(c) } var g, h, i, j, k = b.createElement("canvas"), l = k.getContext && k.getContext("2d"); for (j = Array("flag", "emoji"), c.supports = { everything: !0, everythingExceptFlag: !0 }, i = 0; i < j.length; i++)c.supports[j[i]] = e(j[i]), c.supports.everything = c.supports.everything && c.supports[j[i]], "flag" !== j[i] && (c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && c.supports[j[i]]); c.supports.everythingExceptFlag = c.supports.everythingExceptFlag && !c.supports.flag, c.DOMReady = !1, c.readyCallback = function () { c.DOMReady = !0 }, c.supports.everything || (h = function () { c.readyCallback() }, b.addEventListener ? (b.addEventListener("DOMContentLoaded", h, !1), a.addEventListener("load", h, !1)) : (a.attachEvent("onload", h), b.attachEvent("onreadystatechange", function () { "complete" === b.readyState && c.readyCallback() })), g = c.source || {}, g.concatemoji ? f(g.concatemoji) : g.wpemoji && g.twemoji && (f(g.twemoji), f(g.wpemoji))) }(window, document, window._wpemojiSettings);
    </script>
    <meta content="Divi Child Theme v." name="generator" />
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='wp-block-library-css' href='/Content/css/news_events/style.min.css?ver=5.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css' href='/Content/css/news_events/dashicons.min.css?ver=5.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='to-top-css' href='/Content/css/news_events/to-top-public.css?ver=1.7' type='text/css' media='all' />
    <link rel='stylesheet' id='bootstrap-style-css' href='/Content/css/news_events/bootstrap.min.css?ver=5.0.1' type='text/css' media='all' />
    <link rel='stylesheet' id='my-font-style-css' href='/Content/css/news_events/stylesheet.css?ver=1545034856' type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css' href='/Content/css/news_events/all.min.css?ver=1.1' type='text/css' media='all' />
    <link rel='stylesheet' id='divi-fonts-css' href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&#038;subset=latin,latin-ext' type='text/css' media='all' />
    <link rel='stylesheet' id='divi-style-css' href='/Content/css/news_events/style.css?ver=3.17.2' type='text/css' media='all' />
    <link rel='stylesheet' id='divi-style-css' href='/Content/css/news_events/style-div.css' type='text/css' media='all' />
    <link rel='stylesheet' id='custom-style-style-css' href='/Content/css/news_events/custom-style.css?ver=1545033461' type='text/css' media='all' />
    <script type='text/javascript' src='/Scripts/home/jquery.js'></script>
    <script type='text/javascript' src='/Scripts/home/jquery-migrate.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var to_top_options = { "scroll_offset": "100", "icon_opacity": "50", "style": "icon", "icon_type": "dashicons-arrow-up-alt2", "icon_color": "#ffffff", "icon_bg_color": "#000000", "icon_size": "32", "border_radius": "5", "image": "https:\/\/cscj.com\/wp-content\/plugins\/to-top\/admin\/images\/default.png", "image_width": "65", "image_alt": "", "location": "bottom-right", "margin_x": "20", "margin_y": "20", "show_on_admin": "0", "enable_autohide": "0", "autohide_time": "2", "enable_hide_small_device": "0", "small_device_max_width": "640", "reset": "0" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='/Scripts/home/to-top-public.js'></script>
    <script type='text/javascript' src='/Scripts/home/custom.js'></script>
    <link rel='https://api.w.org/' href='/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="//source/wp-includes/wlwmanifest.xml" />
    <meta name="generator" content="WordPress 5.0.1" />
    <link rel="canonical" href="/" />
    <link rel='shortlink' href='/' />
    <link rel="alternate" type="application/json+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fcscj.com%2F" />
    <link rel="alternate" type="text/xml+oembed" href="/wp-json/oembed/1.0/embed?url=http%3A%2F%2Fcscj.com%2F&#038;format=xml" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="shortcut icon" href="" />
    <link rel="stylesheet" id="et-core-unified-cached-inline-styles" href="/Content/css/news_events/et-core-unified-15450338409053.min.css" onerror="et_core_page_resource_fallback(this, true)" onload="et_core_page_resource_fallback(this)" />
</head>
<body class="home page-template page-template-page-template-blank page-template-page-template-blank-php page page-id-5 et_pb_button_helper_class et_fixed_nav et_show_nav et_cover_background et_pb_gutter et_pb_gutters3 et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_pb_footer_columns4 et_header_style_left et_pb_pagebuilder_layout et_right_sidebar et_divi_theme et-db et_minified_js et_minified_css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130570309-1"></script>
    <script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-130570309-1');
    </script>
    <div id="page-container">

        <div id="main-content">



            <article id="post-5" class="post-5 page type-page status-publish hentry">


                <div class="entry-content">
                    <div id="et-boc" class="et-boc">

                        <div class="et_builder_inner_content et_pb_gutters3">
                            <div class="et_pb_section et_pb_section_0 et_section_regular">




                                <div class="et_pb_row et_pb_row_0 et_pb_equal_columns et_pb_row_fullwidth">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_0    et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_image et_pb_image_0 et_always_center_on_mobile">


                                            <a href="/"><span class="et_pb_image_wrap"><img src="/Images/banner-1.jpg" alt="" /></span></a>
                                        </div>
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section --><div id="box1" class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular">




                                <div class="et_pb_row et_pb_row_1 et_pb_equal_columns">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_1    et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_0 et_pb_bg_layout_light  et_pb_text_align_left">


                                            <div class="et_pb_text_inner">
                                                <p><strong>Thanks to CSC Jackpot</strong>, we have witnessed significant growth in the past months and also prominent potentials in the near future. Tech Sharing Community has therefore decided to go advance by establishing a whole new token named CSCJ to serve our future orientation as a developer of Blockchain-based Gambling and Lottery services. These services, obviously, will continue to the honour the <strong>TRANSPARENCY</strong> and <strong>FAIRNESS</strong> that have been delivered within CSC Jackpot environment.</p>
                                                <p><strong>CSCJ</strong> was officially issued on 10th October 2018 and will be used within our E-Gamble ecosystem as a purchasing/ payment unit for all products and services.</p>
                                            </div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section --><div id="box2" class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">




                                <div class="et_pb_row et_pb_row_2 et_pb_equal_columns">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_2    et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_1 et_pb_bg_layout_light  et_pb_text_align_left">


                                            <div class="et_pb_text_inner">
                                                <h1>
                                                    As below is the Distribution<br />
                                                    program of CSCJ tokens
                                                </h1>
                                                <p><em>The total figure of CSCJ distributed is 190 million, of which:</em></p>
                                            </div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row --><div id="custom" class="et_pb_row et_pb_row_3">
                                    <div class="et_pb_column et_pb_column_1_2 et_pb_column_3    et_pb_css_mix_blend_mode_passthrough">


                                        <div class="et_pb_module et_pb_text et_pb_text_2 et_pb_bg_layout_light  et_pb_text_align_left">


                                            <div class="et_pb_text_inner">
                                                <h3>PUBLIC SALES</h3>
                                                <p>50% of the total CSCJ figure, equivalent to 95,000,000 tokens, would be on sales with $0.1 as starting price with lots of complementary promotions.</p>
                                                <h3>MARKETING:</h3>
                                                <p>
                                                    Marketing is pivotal to almost every business, understanding that, we are putting 15% aside (28,500,000 tokens) just for DAPP (Decentralised application) marketing in E-Gamble field.<br />
                                                    20% of this figure, equivalent to 5,700,000 CSCJ would be locked within 6 months.<br />
                                                    Then other 20%s of the figure, each equivalent to 5,700,000 CSCJ would be locked within 12; 24; 36 and 48 months, respectively.
                                                </p>
                                            </div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_1_2 et_pb_column_4    et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_image et_pb_image_1 img-r et_always_center_on_mobile">


                                            <span class="et_pb_image_wrap"><img src="/Images/news_events/box2.png" alt="" /></span>
                                        </div>
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row --><div class="et_pb_row et_pb_row_4 et_pb_equal_columns">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_5    et_pb_css_mix_blend_mode_passthrough et-last-child">


                                        <div class="et_pb_module et_pb_text et_pb_text_3 et_pb_bg_layout_light  et_pb_text_align_left">


                                            <div class="et_pb_text_inner">
                                                <h3>E-GAMEBLE ECOSYSTEM</h3>
                                                <p>
                                                    15% of the total figure, equivalent to 28,500,000 CSCJ would be utilised for developing DAPP and E-Gamble ecosystem.<br />
                                                    20% of this figure, equivalent to 5,700,000 CSCJ would be locked within 9 months.<br />
                                                    Then other 20%s of the figure, each equivalent to 5,700,000 CSCJ would be locked within 18; 27; 36 and 45 months, respectively.
                                                </p>
                                                <h3>USER REWARDS</h3>
                                                <p>20% of the total figure, equivalent to 38,000,000 tokens would be put into reward pool for our users of E-Gamble, E-Betting and E-Lottery services.</p>
                                            </div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section --><div id="box3" class="et_pb_section et_pb_section_3 et_pb_with_background et_section_regular">




                                <div class="et_pb_row et_pb_row_5 et_pb_equal_columns">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_6    et_pb_css_mix_blend_mode_passthrough et-last-child">
                                        <div class="et_pb_module et_pb_text et_pb_text_4 et_pb_bg_layout_light  et_pb_text_align_left">
                                            <div class="et_pb_text_inner">
                                                <h1>
                                                    BENEFITS FROM<br />
                                                    CSCJ PURCHASE
                                                </h1>
                                            </div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_5 des et_pb_bg_layout_light  et_pb_text_align_left">
                                            <div class="et_pb_text_inner">
                                                <p>There are two ways to purchase CSCJ: buy it with <strong>BTC</strong> via the Back Office of players or agents OR via trading <strong>Crypto Exchange</strong> platforms where <strong>CSCJ</strong> is listed</p>
                                            </div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->
                                </div> <!-- .et_pb_row -->
                            </div> <!-- .et_pb_section --><div id="box4" class="et_pb_section et_pb_section_4 et_pb_with_background et_section_regular">
                                <div class="et_pb_row et_pb_row_6 et_pb_equal_columns">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_7    et_pb_css_mix_blend_mode_passthrough et-last-child">
                                        <div class="et_pb_module et_pb_image et_pb_image_2 et_always_center_on_mobile">
                                            <span class="et_pb_image_wrap"><img src="/Images/news_events/box4.jpg" alt="" /></span>
                                        </div><div class="et_pb_module et_pb_text et_pb_text_6 des et_pb_bg_layout_light  et_pb_text_align_left">
                                            <div class="et_pb_text_inner">
                                                <p>
                                                    * For our partners, this policy were designed just for you. You can deposit your CSCJ to become our agents and be entitled to the benefits from our new agent program.<br />
                                                    * As an user, you would have a chance to receive free tickets and increase your winning chance via our Affiliate Program.<br />
                                                    * Enjoy ticket sales commission up to 23% from the total sales.
                                                </p>
                                            </div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->
                                </div> <!-- .et_pb_row -->
                            </div> <!-- .et_pb_section --><div id="box5" class="et_pb_section et_pb_section_5 et_pb_with_background et_section_regular">
                                <div class="et_pb_row et_pb_row_7 et_pb_equal_columns">
                                    <div class="et_pb_column et_pb_column_3_5 et_pb_column_8    et_pb_css_mix_blend_mode_passthrough">
                                        <div class="et_pb_module et_pb_text et_pb_text_7 box-des et_pb_bg_layout_light  et_pb_text_align_left">
                                            <div class="et_pb_text_inner">
                                                <p>
                                                    For CSCJ launching, these tokens<br />
                                                    would also contribute to:
                                                </p>
                                            </div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_8 et_pb_bg_layout_light  et_pb_text_align_left">
                                            <div class="et_pb_text_inner">
                                                <p>
                                                    • Boost the minimum value of our Jackpot to 250 BTC, currently equivalent to $ 2 million.<br />
                                                    • Form the foundation for our DAPP, on which we would strive to develop a diversified system of main and complementary products &amp; services.
                                                </p>
                                            </div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column --><div class="et_pb_column et_pb_column_2_5 et_pb_column_9  img-top  et_pb_css_mix_blend_mode_passthrough et-last-child">
                                        <div class="et_pb_module et_pb_image et_pb_image_3 et_always_center_on_mobile">
                                            <span class="et_pb_image_wrap"><img src="/Images/news_events/box5.png" alt="" /></span>
                                        </div>
                                    </div> <!-- .et_pb_column -->
                                </div> <!-- .et_pb_row -->
                            </div> <!-- .et_pb_section --><div id="box6" class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular">
                                <div class="et_pb_row et_pb_row_8 et_pb_equal_columns">
                                    <div class="et_pb_column et_pb_column_4_4 et_pb_column_10    et_pb_css_mix_blend_mode_passthrough et-last-child">
                                        <div class="et_pb_module et_pb_text et_pb_text_9 box-des et_pb_bg_layout_light  et_pb_text_align_left">
                                            <div class="et_pb_text_inner">
                                                <h1>
                                                    Also, there are things<br />
                                                    that worth taking a note
                                                </h1>
                                            </div>
                                        </div> <!-- .et_pb_text --><div class="et_pb_module et_pb_text et_pb_text_10 et_pb_bg_layout_light  et_pb_text_align_left">
                                            <div class="et_pb_text_inner">
                                                <p>
                                                    * <strong>CSCJ</strong> selling prices would be increasing for at least 10% each month, so it is worth considering about purchasing it as soon as possible, when the price is still low.<br />
                                                    * Tickets redeemed daily would be valid for 10 days.<br />
                                                    * Ticket redemption for new agents would be deducted by at least 10% every month, according to <strong>CSCJ</strong> price in the contemporary month.<br />
                                                    There has never been a better time to make effortless and risk-free investment in crypto tokens than now with us at <strong>CSC Jackpot!</strong>
                                                </p>
                                            </div>
                                        </div> <!-- .et_pb_text -->
                                    </div> <!-- .et_pb_column -->


                                </div> <!-- .et_pb_row -->


                            </div> <!-- .et_pb_section -->
                        </div>

                    </div>
                </div> <!-- .entry-content -->


            </article> <!-- .et_pb_post -->



        </div> <!-- #main-content -->


    </div> <!-- #page-container -->

    <span id="to_top_scrollup" class="dashicons dashicons-arrow-up-alt2"><span class="screen-reader-text">Scroll Up</span></span>
    <script type="text/javascript">
    </script>
    <script type='text/javascript' src='/Scripts/home/bootstrap.min.js'></script>
    <script type='text/javascript'>
/* <![CDATA[ */
var DIVI = {"item_count":"%d Item","items_count":"%d Items"};
var et_shortcodes_strings = {"previous":"Previous","next":"Next"};
var et_pb_custom = {"ajaxurl":"https:\/\/cscj.com\/wp-admin\/admin-ajax.php","images_uri":"https:\/\/cscj.com\/wp-content\/themes\/Divi\/images","builder_images_uri":"https:\/\/cscj.com\/wp-content\/themes\/Divi\/includes\/builder\/images","et_frontend_nonce":"ed6ed42475","subscription_failed":"Please, check the fields below to make sure you entered the correct information.","et_ab_log_nonce":"8d44c69d81","fill_message":"Please, fill in the following fields:","contact_error_message":"Please, fix the following errors:","invalid":"Invalid email","captcha":"Captcha","prev":"Prev","previous":"Previous","next":"Next","wrong_captcha":"You entered the wrong number in captcha.","is_builder_plugin_used":"","ignore_waypoints":"no","is_divi_theme_used":"1","widget_search_selector":".widget_search","is_ab_testing_active":"","page_id":"5","unique_test_id":"","ab_bounce_rate":"5","is_cache_plugin_active":"no","is_shortcode_tracking":"","tinymce_uri":""};
var et_pb_box_shadow_elements = [];
/* ]]> */
    </script>
    <script type='text/javascript' src='/Scripts/homes/custom.min.js'></script>
    <script type='text/javascript' src='/Scripts/home/common.js'></script>
    <script type='text/javascript' src='/Scripts/home/wp-embed.min.js'></script>
</body>
</html>
