﻿<html>
<head>

    <title>@ViewBag.Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Lotto.wane2save..." />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/Content/css/home_index/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Roboto:300,400,500,700&amp;subset=vietnamese" rel="stylesheet">
    <link href="~/Content/alertify/bootstrap-alertity.min.css" rel="stylesheet" />
    <link href="~/Content/alertify/alertify.min.css" rel="stylesheet" />

    <meta name="referrer" content="unsafe-url" />
    <meta name="referrer" content="origin" />
    <meta name="referrer" content="no-referrer-when-downgrade" />
    <meta name="referrer" content="origin-when-cross-origin" />

    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        /*footer {
            background-color: #f2f2f2;
            padding: 25px;
        }*/
    </style>
</head>
<body>

    @{Html.RenderAction("Menu", "Home");}
    <div class="main-wrapper" style="width:100%;">
        <div class="content-wrapper " style="min-height: 852px;">
            @*<main class="content js-content" style="min-height: 72px;">*@


            <div>



                @RenderBody()
            </div>
            @{Html.RenderAction("Footer", "Home");}
            @*</main>*@
        </div>
    </div>

    <a href="javascript:void(0)" id="goTop" class="gotoppage"><i class="fa fa-angle-double-up"></i></a>

    <div id="divLoading" class="loadingPage" style="display: none;">
        <img src="/Content/img/loading.gif" id="imgLoading">
    </div>
</body>
</html>

@*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
<script type="text/javascript" src="/Scripts/home_index/jquery.min.js"></script>
<script type="text/javascript" src="/Scripts/home_index/bootstrap.min.js"></script>
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@

<link href="/Content/css/home_index/owl.carousel.min.css" rel="stylesheet" />
@*<link href="~/Content/css/home_index/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/css/home_index/font-awesome.min.css" rel="stylesheet" />*@

<link rel="stylesheet" type="text/css" href="/Content/css/jquery.countdownTimer.css" />
<script src="/Content/js/jquery.countdownTimer.js"></script>

<script type="text/javascript" src="/Scripts/home_index/owl.carousel.min.js"></script>
<script src="~/Content/alertify/alertify.js"></script>
<script type="text/javascript">
    $(document).ready(function (e) {
        new WOW().init();
        $("#brand-slide").owlCarousel({ responsive: { 0: { items: 2 }, 480: { items: 3 }, 767: { items: 4 }, 991: { items: 4 }, 1199: { items: 5 } }, nav: true, dots: true, autoplay: false, loop: true, navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"], mouseDrag: true, touchDrag: true, });
        $("#owl-demo1").owlCarousel({ items: 1, nav: true, dots: true, autoplay: true, loop: true, navText: ["<i class='fa fa-angle-left'></i>", "<i class='fa fa-angle-right'></i>"], mouseDrag: true, touchDrag: true, });
        $("#owl-demo1").on("translate.owl.carousel", function () {
            $(".slidecontent *").removeClass("animated fadeInUp").css("opacity", "0");
            $(".slidecontent *").removeClass("animated fadeInDown").css("opacity", "0");
        });
        $("#owl-demo1").on("translated.owl.carousel", function () {
            $(".slidecontent *").addClass("animated fadeInUp").css("opacity", "1");
            $(".slidecontent *").addClass("animated fadeInDown").css("opacity", "1");
        });
    });


</script>
<script type="text/javascript" src="/Scripts/home_index/website.js"></script>
<script type="text/javascript">
        @*var checkShow = '@ViewData[BBH.Lotte.Shared.KeyManager._CHECK_LOCK_BOOKING]';*@
    $(function () {
        if (typeof $('#clock') != 'undefined' && $('#clock').length > 0) {
            $('#clock').countdowntimer({
                hours: '@ViewData[BBH.Lotte.Shared.KeyManager._HOUR_COUNT_DOWN]',
                    minutes: '@ViewData[BBH.Lotte.Shared.KeyManager._MINUTE_COUNT_DOWN]',
                    seconds: '@ViewData[BBH.Lotte.Shared.KeyManager._SECOND_COUNT_DOWN]',
                    size: "sm",
                    tickInterval: 1
            });
        }
    });
</script>

<script src="/Scripts/home_index/jquery.countdown.min.js"></script>
<script src="/Scripts/home_index/jquery.countdown.js"></script>
<script type="text/javascript">
    var maxItemNotification = '@(System.Configuration.ConfigurationManager.AppSettings["maxItemNotification"])';
    $(document).ready(function () {
        var strCurentUrl = $(location).attr('pathname');
        var strCurentUrlMainMenu = "";
  
        if (strCurentUrl.trim().length >= 2) {
            strCurentUrlMainMenu = strCurentUrl.split('/')[1];
        }

        if (strCurentUrlMainMenu.trim().length > 0) {
            if (typeof $('.mainMenu li[data-id=' + strCurentUrlMainMenu.trim() + ']') != 'undefined' && $('.mainMenu li[data-id=' + strCurentUrlMainMenu.trim() + ']').length > 0) {
                $('.mainMenu li[data-id=' + strCurentUrlMainMenu.trim() + ']').addClass('active');
            }
        }
        else {
            if (typeof $('.mainMenu li[data-id=home]') != 'undefined' && $('.mainMenu li[data-id=home]').length > 0) {
                $('.mainMenu li[data-id=home]').addClass('active');
            }
        }
    });

    $('#clock').countdown('2017/12/10 15:59:56')
        .on('update.countdown', function (event) {
            var format = '%H:%M:%S';
            //if (event.offset.totalDays > 0) {
            //    format = '%-d day%!d ' + format;
            //}
            //if (event.offset.weeks > 0) {
            //    format = '%-w week%!w ' + format;
            //}
            $(this).html(event.strftime(format));
        })
        .on('finish.countdown', function (event) {
            $(this).html('00:00:00')
                .parent().addClass('disabled');

        });
</script>
