﻿<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="~/Content/img/logo/favicon.png" />
    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CSC Jackpot Admin">
    <meta name="author" content="CSC Jackpot">
    <!-- The styles -->
    <link href="/Content/css/bootstrap-cerulean.min.css" rel="stylesheet">
    <link href="/Content/css/charisma-app.css" rel="stylesheet">
    <link href='/Content/bower_components/fullcalendar/dist/fullcalendar.css' rel='stylesheet'>
    <link href='/Content/bower_components/fullcalendar/dist/fullcalendar.print.css' rel='stylesheet' media='print'>
    <link href='/Content/bower_components/chosen/chosen.min.css' rel='stylesheet'>
    <link href='/Content/bower_components/colorbox/example3/colorbox.css' rel='stylesheet'>
    <link href='/Content/bower_components/responsive-tables/responsive-tables.css' rel='stylesheet'>
    <link href='/Content/bower_components/bootstrap-tour/build/css/bootstrap-tour.min.css' rel='stylesheet'>
    <link href='/Content/css/jquery.noty.css' rel='stylesheet'>
    <link href='/Content/css/noty_theme_default.css' rel='stylesheet'>
    <link href='/Content/css/elfinder.min.css' rel='stylesheet'>
    <link href='/Content/css/elfinder.theme.css' rel='stylesheet'>
    <link href='/Content/css/jquery.iphone.toggle.css' rel='stylesheet'>
    <link href='/Content/css/uploadify.css' rel='stylesheet'>
    <link href='/Content/css/animate.min.css' rel='stylesheet'>

    <!-- jQuery -->
    <script src="/Content/bower_components/jquery/jquery.min.js"></script>
    <!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- The fav icon -->
    <link href="/Content/css/alertify.css" rel="stylesheet" />

    <link data-require="sweet-alert" data-semver="0.4.2" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/0.4.2/sweet-alert.min.css">
    <link href="/Content/css/styledev.css" rel="stylesheet" />
    <link href="/Content/css/style_dev.css" rel="stylesheet" />
    <link href="~/Content/css/main.css" rel="stylesheet" />
</head>
<body>
    @*========================LOADING==========*@
    <div id="divLoading" class="loadingPage" style="display: none;">
        <img src="/Images/loading.gif" id="imgLoading">
    </div>

    @*=================================*@
    @RenderBody()

   
    @RenderSection("scripts", required: false)


    <script src="/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- library for cookie management -->
    <script src="/Content/js/jquery.cookie.js"></script>
    <!-- calender plugin -->
    <script src='/Content/bower_components/moment/min/moment.min.js'></script>
    <script src='/Content/bower_components/fullcalendar/dist/fullcalendar.min.js'></script>
    <!-- data table plugin -->
    <script src='/Content/js/jquery.dataTables.min.js'></script>
    <!-- select or dropdown enhancer -->
    <script src="/Content/bower_components/chosen/chosen.jquery.min.js"></script>
    <!-- plugin for gallery image view -->
    <script src="/Content/bower_components/colorbox/jquery.colorbox-min.js"></script>
    <!-- notification plugin -->
    <script src="/Content/js/jquery.noty.js"></script>
    <!-- library for making tables responsive -->
    <script src="/Content/bower_components/responsive-tables/responsive-tables.js"></script>
    <!-- tour plugin -->
    <script src="/Content/bower_components/bootstrap-tour/build/js/bootstrap-tour.min.js"></script>
    <!-- star rating plugin -->
    <script src="/Content/js/jquery.raty.min.js"></script>
    <!-- for iOS style toggle switch -->
    <script src="/Content/js/jquery.iphone.toggle.js"></script>
    <!-- autogrowing textarea plugin -->
    <script src="/Content/js/jquery.autogrow-textarea.js"></script>
    <!-- multiple file upload plugin -->
    <script src="/Content/js/jquery.uploadify-3.1.min.js"></script>
    <!-- history.js for cross-browser state change on ajax -->
    @*<script src="/Content/js/jquery.history.js"></script>*@
    <!-- application script for Charisma demo -->
    <script src="/Scripts/alertify.js"></script>
    <script src="/Content/js/charisma.js"></script>
    <script src="https://unpkg.com/sweetalert2@7.0.9/dist/sweetalert2.all.js"></script>
    <script src="/Scripts/masterdata_.js"></script>
</body>
</html>
