﻿@using BBH.LotteFE.Domain;
@{
    ViewBag.Title = "Thông tin mua vés";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}


<main class="">
    <div class="container-fluid">
        <!-- Section: Edit Account -->
        <section class="section">
            <!-- First row -->
            <div class="row">

                <div class="col-lg-6" style="margin:0 auto">
                    <!--Card-->
                    <div class="card card-cascade narrower mb-r">
                        <div class="admin-panel info-admin-panel">
                            <!--Card image-->
                            <div class="view primary-color">
                                <h5>Thông tin vé</h5>
                            </div>
                            <!--/Card image-->
                            <!--Card content-->
                            <div class="card-block">
                                <!-- Edit Form -->

                                <form>
                                    <!--First row-->
                                    <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">

                                        <div class="col-md-12">
                                            <label id="lbEwallet" style="margin-bottom:0px">Nhập vé mua</label>
                                            <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                <input type="text" onchange="CountMemberBuyTicket(this.value)" style="padding:0px" onfocus="ResetField(1)" id="txtNumber" name="txtNumber" class="form-control validate">

                                            </div>
                                            <label style="color:red" id="lbMessage"></label>
                                        </div>

                                    </div>

                                    <div class="row" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">

                                        <div class="col-md-12">
                                            <label id="lbEwallet" style="margin-bottom:0px">Nhập số lượng</label>
                                            <div class="md-form" style="padding-bottom:0px; padding-top:0px; margin-bottom:0px; margin-top:0px">
                                                @*<input type="text" style="padding:0px" onfocus="ResetField(2)" id="txtQuantity" name="txtQuantity" class="form-control validate">*@

                                                <select id="cbQuantity" name="cbQuantity" onchange="ResetField(2)" class="form-control">
                                                    <option title="0" value="0">Chọn số lượng vé</option>
                                                    @for (int i = 1; i <= 5; i++)
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                </select>
                                            </div>
                                            <label style="color:red" id="lbQuantity"></label>
                                        </div>

                                    </div>

                                    @if ((int)ViewData[BBH.Lotte.Shared.KeyManager._CHECK_LOCK_BOOKING] == 0)
                                    {
                                        <div class="row">
                                            <img src="/Images/loading.gif" id="imgLoading" style="position: absolute; display:none">
                                            <div class="col-md-12 text-center">
                                                <input type="button" style="padding: 5px 30px; cursor: pointer" onclick="return SubmitBuyTicket()" value="Mua vé" class="btn-primary">
                                            </div>
                                        </div>
                                    }
                                </form>

                                <!-- Edit Form -->
                            </div>
                            <!--/.Card content-->
                        </div>
                    </div>
                    <!--/.Card-->
                </div>

            </div>
        </section>
    </div>
</main>
<script type="text/javascript" src="/Scripts/jquery-1.8.2.js"></script>
<script type="text/javascript" src="/Scripts/jquery.alphanumeric.js"></script>
<script type="text/javascript" src="/Scripts/booking/booking.js"></script>
<script type="text/javascript">
    $('#txtNumber').numeric();
    $('#txtQuantity').numeric();
</script>

