﻿@using BBH.Lotte.Domain;
@using BBH.Lotte.CMSAdmin.Models;
@using BBC.CWallet.ServiceListener.ServiceContract;

@{
    ViewBag.Title = "Withdraw";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@{Html.RenderAction("HeaderMenu", "Home");}
<div class="ch-container">
    <div class="row">
        @{Html.RenderAction("LeftMenu", "Home");}
        <div id="content" class="col-lg-10 col-sm-10">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="/withdraw" style="text-decoration: none;"><i class="glyphicon glyphicon-euro"></i>  Manager Withdraw</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="box col-md-12">
                    @*<div class="box-inner">
                        <div class="box-content">*@
                    @*<div class="col-md-2" style="margin-right: 50px;">
                        <div class="controls">
                            <select id="cbMember" class="form-control" data-rel="chosen">
                                <option value="">Select member</option>
                                @if (ViewData[ViewDataKey.VIEWDATA_LISTMEMBER] != null)
                                {
                                    IEnumerable<MemberBO> lstMember = (IEnumerable<MemberBO>)ViewData[ViewDataKey.VIEWDATA_LISTMEMBER];
                                    if (lstMember != null && lstMember.Count() > 0)
                                    {
                                        foreach (MemberBO mem in lstMember)
                                        {
                                            <option value="@mem.Email">@mem.Email</option>
                                        }
                                    }
                                }
                            </select>
                        </div>
                    </div>*@

                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="From Date" id="txtFromDate" name="txtFromDate">
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" placeholder="To Date" id="txtToDate" name="txtToDate">
                    </div>
                    <div class="col-md-2" style="margin-right: 40px;">
                        <div class="controls">
                            <select id="cbStatus" class="form-control" data-rel="chosen">
                                <option value="@(Convert.ToInt32(TransactionStatus.None))">Status</option>
                                <option value="@(Convert.ToInt32(TransactionStatus.Pending))">@(TransactionStatus.Pending)</option>
                                <option value="@(Convert.ToInt32(TransactionStatus.Success))">@(TransactionStatus.Success)</option>

                            </select>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <button class="btn btn-primary btn-sm" style="position:relative; height:36px; width:90px" onclick="SearchWithdraw()"><i class="glyphicon glyphicon-search"></i>  Search</button>
                        @*<button class="btn btn-primary btn-sm" style="position: absolute; height: 36px; width: 100px; margin-left:20px; float:right" onclick="ExportExcelTrnasctionCoin()"><i class="glyphicon glyphicon-print"></i>  Export Excel</button>*@
                    </div>
                    @*</div>
                        </div>*@
                </div>
            </div>

            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-user"></i>List Withdraw</h2>
                            <div class="box-icon">
                                <a href="#" class="btn btn-minimize btn-round btn-default">
                                    <i class="glyphicon glyphicon-chevron-up"></i>
                                </a>
                                <a href="#" class="btn btn-close btn-round btn-default">
                                    <i class="glyphicon glyphicon-remove"></i>
                                </a>
                            </div>
                        </div>
                        <div class="box-content">
                            <table class="table table-striped table-bordered responsive">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="text-center">Email</th>
                                        <th class="text-center">Create Date</th>
                                        <th class="text-center">TransactionID</th>
                                        <th class="text-center">Bitcoin Value</th>
                                        <th class="text-center">Transaction Blockchain</th>
                                        <th class="text-center">Status</th>
                                        <th class="text-center">Confirm</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyListWithdraw">

                                    @if (Model != null)
                                    {
                                        //for (int i = 0; i < Model.LstString.Count; i++)
                                        //{
                                            @Html.Raw(Model[0]);
                                        //}

                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="8">No Data</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                            @if (Model != null @*&& Model.StrValue != null*@)
                            {
                                @Html.Raw(Model[1]);
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="hdTransactionID" value="@ViewData["transactionID"]" />
<div class="modal fade" id="standardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <!--Content-->
        <div class="modal-content">
            <!--Header-->
            <div class="modal-header white-text" style="background-color: #154771">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="close()" style="color:#fff">
                    <span aria-hidden="true">×</span>
                </button>
                <p class="heading" contenteditable="true" style="color:#fff">Information Withdraw Award</p>
            </div>
            <!--Body-->
            <div class="modal-body" style="padding-bottom:0px">
                <form>
                    <div class="row" style="margin-bottom:10px">
                        <h5>TransactionID</h5>
                        <div class="col-md-12">
                            <div class="md-form">
                                @*<input type="text" id="txtNumberValue" name="txtNumberValue" placeholder="Win Number" class="form-control validate">*@
                                <label id="lbTransactionID" class="form-control"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:10px">
                        <h5>UserName Winner</h5>
                        <div class="col-md-12">
                            <div class="md-form">

                                <label id="lbUserName" class="form-control"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:10px">
                        <h5>Award Date Win</h5>
                        <div class="col-md-12">
                            <div class="md-form">

                                <label id="lbAwardDate" class="form-control"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:10px">
                        <h5>Award Values Win</h5>
                        <div class="col-md-12">
                            <div class="md-form">

                                <label id="lbAwardValues" class="form-control"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:10px">
                        <h5>Transaction Status</h5>
                        <div class="col-md-12">
                            <div class="md-form">

                                <label id="lbAwardStatus" class="form-control"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:10px">
                        <h5>UserName Confirm</h5>
                        <div class="col-md-12">
                            <div class="md-form">

                                <label id="lbUserConfirm" class="form-control"></label>
                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-bottom:10px">
                        <h5>Confirm Date</h5>
                        <div class="col-md-12">
                            <div class="md-form">

                                <label id="lbConfirmDate" class="form-control"></label>
                            </div>
                        </div>
                    </div>

                </form>
                <br>

            </div>
            <!--Footer-->
            <div class="modal-footer">
                <a id="2lvlModal-learnMore" class="btn btn-danger" data-dismiss="modal" onclick="close()" contenteditable="true">Close</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>

@*========================LOADING==========*@
<div id="divLoading" class="loadingPage" style="display: none;">
    <img src="/Images/loading.gif" id="imgLoading">
</div>
@*=================================*@
<script src="/Scripts/jqueryui.js"></script>
<script>
    $("#txtFromDate").datepicker({ dateFormat: 'dd/mm/yy' });
    $("#txtToDate").datepicker({ dateFormat: 'dd/mm/yy' });
</script>
<script type="text/javascript" src="/Scripts/withdraw/withdraw.js"></script>
